﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="number"],
input[type="password"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

.CustomDDL {
    background: rgba(0, 0, 0, 0.075);
    border-radius: 3px;
    border: solid 1px rgba(128, 128, 128, 0.3);
    color: inherit;
    display: block;
    outline: 0;
        max-width: 280px;
    /*height: 36px!important;
    text-decoration: none;
    width: 100%!important;*/
}

.file-upload {
    display: inline-block;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    /*font-family: Arial;
    border: 1px solid #124d77;
    background: #007dc1;
    color: #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    text-shadow: #000 1px 1px 2px;
    -webkit-border-radius: 6px;*/
    cursor: pointer;
    background-color: rgb(35, 177, 198);
}
    /*.file-upload:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
        background: -moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
        background: -webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
        background: -o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
        background: -ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
        background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
        background-color: #0061a7;
    }*//* The button size */
.file-upload {
    height: 40px;
}
    .file-upload, .file-upload span {
        width: 110px;
        color:#ffffff;
    }
        .file-upload input {
            top: 0;
            left: 0;
            margin: 0;
            font-size: 11px;
            color:#ffffff;
            font-weight: bold; /* Loses tab index in webkit if width is set to 0 */
            opacity: 0;
            filter: alpha(opacity=0);
        }
        .file-upload strong {
            font: normal 12px Tahoma,sans-serif;
            text-align: center;
            vertical-align: middle;
            color:#ffffff;
        }
        .file-upload span {
            top: 0;
            color:#ffffff;
            left: 0;
            display: inline-block; /* Adjust button text vertical alignment */
            padding-top: 11px;
        }


.EngWizHder li .prevStep
{
    background-color: #669966;
}
.EngWizHder li .prevStep:after
{
    border-left-color:#669966 !important;
}
.EngWizHder li .currentStep
{
    background-color: #157bc3;
}
.EngWizHder li .currentStep:after
{
    border-left-color: #157bc3 !important;
}
.EngWizHder li .nextStep
{
    background-color:#C2C2C2;
}
.EngWizHder li .nextStep:after
{
    border-left-color:#C2C2C2 !important;
}
.EngWizHder
{
    list-style: none;
    overflow: hidden;
    font: 18px Helvetica, Arial, Sans-Serif;
    margin: 0px;
    padding: 0px;
}
.EngWizHder li
{
    float: left;
    padding-left: 0!important;
}
.EngWizHder li a
{
    color: white;
    text-decoration: none;
    padding: 10px 0 10px 55px;
    background: brown; /* fallback color */
    background: hsla(34,85%,35%,1);
    position: relative;
    display: block;
    float: left;
}
.EngWizHder li a:after
{
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid hsla(34,85%,35%,1);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}
.EngWizHder li a:before
{
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}        
.EngWizHder li:first-child a
{
    padding-left: 10px;
}
.EngWizHder li:last-child 
{
    padding-right: 50px;
}
.EngWizHder li a:hover
{
    background: #FE9400;
}
.EngWizHder li a:hover:after
{
    border-left-color: #FE9400 !important;
}        

.EngWizHder li .prevStep
{
    background-color: #669966;
}
.EngWizHder li .prevStep:after
{
    border-left-color:#669966 !important;
}
.EngWizHder li .currentStep
{
    background-color: #157bc3;
}
.EngWizHder li .currentStep:after
{
    border-left-color: #157bc3 !important;
}
.EngWizHder li .nextStep
{
    background-color:#C2C2C2;
}
.EngWizHder li .nextStep:after
{
    border-left-color:#C2C2C2 !important;
}
.EngWizHder
{
    list-style: none;
    overflow: hidden;
    font: 18px Helvetica, Arial, Sans-Serif;
    margin: 0px;
    padding: 0px;
}
.EngWizHder li
{
    float: left;
    padding-left: 0!important;
}
.EngWizHder li a
{
    color: white;
    text-decoration: none;
    padding: 10px 0 10px 55px;
    background: brown; /* fallback color */
    background: hsla(34,85%,35%,1);
    position: relative;
    display: block;
    float: left;
}
.EngWizHder li a:after
{
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid hsla(34,85%,35%,1);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}
.EngWizHder li a:before
{
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}        
.EngWizHder li:first-child a
{
    padding-left: 10px;
}
.EngWizHder li:last-child 
{
    padding-right: 50px;
}
.EngWizHder li a:hover
{
    background: #FE9400;
}
.EngWizHder li a:hover:after
{
    border-left-color: #FE9400 !important;
}        
/***************************8*/
.AraWizHder li .prevStep
{
    background-color: #669966;
}
.AraWizHder li .prevStep:after
{
    border-right-color:#669966 !important;
}
.AraWizHder li .currentStep
{
    background-color: #157bc3;
}
.AraWizHder li .currentStep:after
{
    border-right-color: #157bc3 !important;
}
.AraWizHder li .nextStep
{
    background-color:#C2C2C2;
}
.AraWizHder li .nextStep:after
{
    border-right-color:#C2C2C2 !important;
}
.AraWizHder
{
    list-style: none;
    overflow: hidden;
    font: 18px Helvetica, Arial, Sans-Serif;
    margin: 0px;
    padding: 0px;
}
.AraWizHder li
{
    float: right;
    padding-right: 0!important;
}
.AraWizHder li a
{
    color: white;
    text-decoration: none;
    padding: 10px 55px 10px 0;
    background: brown; /* fallback color */
    background: hsla(34,85%,35%,1);
    position: relative;
    display: block;
    float: right;
}
.AraWizHder li a:after
{
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-right: 30px solid hsla(34,85%,35%,1);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    right: 100%;
    z-index: 2;
}
.AraWizHder li a:before
{
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-right: 1px;
    right: 100%;
    z-index: 1;
}        
.AraWizHder li:first-child a
{
    padding-right: 10px;
}
.AraWizHder li:last-child 
{
    padding-right: 50px;
}
.AraWizHder li a:hover
{
    background: #FE9400;
}
.AraWizHder li a:hover:after
{
    border-right-color: #FE9400 !important;
}        

.content
{
    height:150px;           
    padding-top:75px;
    text-align:center;
    background-color:#F9F9F9;
    font-size:48px;
}

.dsHide {
    display:none!important;
}