﻿
.sample-header {
    background-color: #28B1BF;
    margin: 0;
    /*border-bottom: 1px solid lightgray;*/
}

.sample-header-content {
    background-color: #28B1BF;
    width: 100%;
}

.sample-header-menubar {
    background-color: #28B1BF;
    color: #FFFFFF;
    font-size: x-large;
    height: 35px;
    margin: 1px 11px;
    width: 846px;
}

x.sample-header-toolbar {
    height: 50px;
    background-color: whitesmoke;
}

.surfaceclass {
    width: 95%;
    height: 95%;
}

body, html {
    height: 100%;
    width: 100%;
    /*overflow: hidden;*/
    margin: 0;
    padding: 0;
    position: fixed;
}

.sample-main {
    width: 100%;
    height: auto;
    position: relative;
}



#main-left {
    height: 100%;
    width: 270px;
    float: left;
}

#main-right {
    height: 100%;
    float: left;
    position: relative;
}

.e-slider .e-range {
    background-color: #308c81;
}

.e-tooltip {
    background: #308c81;
    border: #308c81;
}

/*Property Editor*/

#propertyEditor {
    height: 100%;
    /*width: 16.5%;*/
    width: 220px;
    background: #F7F7F7;
}

#tabitems {
    height: 100%;
    /*width: 225px;*/
    width: 100%;
    border: 1px solid;
    border-color: #C6C6C6;
    border-right: none;
    border-top: none;
}

.menulistyle {
    width: 57px;
    height: 45px;
    background-color: #E2E2E2;
}

.MenuSize {
    width: 225px;
    height: 40px;
}

.SubMenuSize {
    height: 430px;
    width: 185px;
}

.subDiv {
    height: 30px;
    width: 30px;
    float: left;
    margin-left: 4px;
    margin-top: 4px;
    margin-right: 3px;
}

.subDiv1 {
    height: 25px;
    width: 25px;
    float: left;
    margin-left: 4px;
    margin-top: 4px;
    margin-right: 3px;
}

.e-datavisualization-symbolpalette .e-header {
    background: #f9f9f9;
    border-color: #e2e2e2;
    color: black;
}


.diagramContent {
    margin: -230px -70px 69px;
}

#toolbarEvents_zoompercentage {
    width: 100px;
}


/*ToolBar Style*/


.e-datavisualization-symbolpalette .e-header-arrow.expanded:before,
.e-datavisualization-symbolpalette .e-header-arrow.collapsed:before {
    display: none;
}

.e-datavisualization-symbolpalette .e-header-arrow {
    background-image: url("../images/icons-gray.png");
    background-repeat: no-repeat;
    border: 0px none transparent;
    height: 16px;
    width: 16px;
    left: 2px;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
}

.e-datavisualization-symbolpalette .e-header-text {
    display: table-cell;
    vertical-align: middle;
    padding-left: 2.5em;
    width: 100%;
}

.e-datavisualization-symbolpalette .e-header-arrow.expanded {
    background-position: -27px -24px;
}

.e-datavisualization-symbolpalette .e-header-arrow.collapsed {
    background-position: -1px -24px;
}

.e-datavisualization-symbolpalette .e-header-arrow.expanded.selected,
.e-datavisualization-symbolpalette .e-header-arrow.expanded.hover {
    background-position: -27px -24px;
}

.e-datavisualization-symbolpalette .e-header-arrow.collapsed.selected,
.e-datavisualization-symbolpalette .e-header-arrow.collapsed.hover {
    background-position: -1px -24px;
}

.e-datavisualization-symbolpalette .e-header.collapsed.selected,
.e-datavisualization-symbolpalette .e-header.expanded.selected {
    background: #E7E7E7;
    color: black;
}

.e-datavisualization-symbolpalette .e-header.collapsed.hover,
.e-datavisualization-symbolpalette .e-header.expanded.hover {
    background: white;
    color: black;
}

.e-datavisualization-symbolpalette .e-paletteItem.hover {
    border-color: transparent;
    background: #DDDDDD;
}

.e-datavisualization-symbolpalette .e-paletteItem.selected {
    border-color: transparent;
    background: #D8D8D8;
}

.e-datavisualization-symbolpalette .e-paletteItem {
    padding-top: 0px;
    border: none;
}

.e-datavisualization-symbolpalette .e-anchor {
    display: block;
}


.e-menu {
    background-color: #28B1BF;
    border: 1px solid #1B6D67;
    border: 0px;
}

    .e-menu.e-horizontal > li .e-arrow-space {
        /*color: White;*/
        border: 1px solid transparent;
        padding-right: 0px;
    }

    .e-menu.e-horizontal > li > a > .e-arrowhead-down {
        color: white;
    }

    .e-menu.e-separator.e-horizontal > .e-list {
        border: 0px solid transparent;
    }

    .e-menu.e-horizontal > li:hover {
        background: #308c81;
    }

    .e-menu.e-horizontal li > ul > li:hover, .e-menu.e-vertical li > ul > li:hover, .e-menu.e-context li > ul > li:hover, .e-menu.e-context > li:hover {
        background: #308c81;
    }

    .e-menu.e-horizontal > li > ul:after {
        visibility: hidden;
    }

    .e-menu li > ul > li > a, .e-menu li > ul > li > span {
        padding: 3px 25px 3px 10px;
    }

    .e-menu > li > ul li > a > img, .e-menu > li > ul li > span > img, .e-menu > li > ul li > a > div, .e-menu > li > ul li > span > div, .e-menu > li > ul li > a > span, .e-menu > li > ul li > span > span {
        left: 2px;
        top: 5px;
    }

 

#palettePreviewDiv.e-datavisualization-symbolpalette {
    border: none;
}

.paletteImageGroup img {
    width: 350px;
    height: 200px;
}

.e-menu li > ul > li {
    background-color: White;
}

#sd {
    /*color: rgb(92, 92, 92);*/
    margin-left: 0px;
}


/*Too bar  Items*/

.e-toolbar {
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-width: 0;
    border: 0px solid transparent;
    background: transparent;
}

    .e-toolbar .e-horizontal .e-hover, .e-toolbar .e-vertical .e-hover {
        background: #DDDDDD;
        border: 1px solid #DDDDDD;
    }

    .e-toolbar .e-hover > a, .e-toolbar .e-hover > span, .e-toolbar .e-hover > div
    {
        background: transparent;
        color: #6B6B6B;
    }

.e-split e-widget {
    height: 28px;
    width: 26px;
}

.e-split .e-padding {
    padding-right: 46px;
}

#toolbarEvents {
    border: none;
    background-color: transparent;
    margin-top: 3px;
}

.e-toolbar-horizontal, .e-toolbar-vertical {
    background-color: transparent;
}

#spltbutton_Drawing_Tooldrpbtn, #spltbutton11drpbtn, #spltbutton_HeadDecorator_Tooldrpbtn, #spltbutton_TailDecorator_Tooldrpbtn, #spltbutton_Color_Tooldrpbtn, #spltbutton_Fill_Tooldrpbtn, #spltbutton_LineColor_Tooldrpbtn, #spltbutton_Gradient_Tooldrpbtn {
    border: none;
}

.e-menu.e-horizontal > li .arrow-space {
    color: white;
}

.e-toolbar-horizontal .toolhover, .e-toolbar-vertical .toolhover {
    background-color: #DDDDDD;
    border: 1px solid #DDDDDD;
}

.e-ddl-popup .e-active {
    background: #1B6D67;
}

.e-ddl-popup .e-hover, .e-ddl .e-select:hover {
    background: #308c81;
}

.e-ddl.e-focus {
    box-shadow: none;
}

.e-scroller .e-button:hover {
    background: #A0A0A0;
}

.e-scroller .e-vhandle:hover, .e-scroller .e-hhandle:hover {
    background: #A0A0A0;
}

input.e-input, input.e-input[type="text"] {
    line-height: 10px;
}

#selectFont_popup_list_wrapper, #selectFont {
    font-size: 12px;
}

#selectFontSize_popup_list_wrapper, #selectFontSize {
    font-size: 12px;
}

.expand_splitter {
    height: 150px;
    width: 30px;
    background-color: #ECEDEE;
    /*background-image: url(../images/rightArrow.png);*/
    position: absolute;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #A6A6A6;
    z-index: 10000000000000;
    cursor: pointer;
}

    .expand_splitter:hover {
        background-color: #DDDDDD;
    }

#edit-splitter {
    height: 30px;
    width: 99%;
    background-color: #ECEDEE;
    margin-top: 1px;
}

#edit-splitter-left {
    float: left;
    height: 30px;
    width: calc(100% - 30px);
}

    #edit-splitter-left :hover {
        background-color: #DDDDDD;
    }

#edit_splitter_expandcollapse {
    height: 30px;
    width: 30px;
    background-image: url(../images/Expand1.png);
    background-repeat: no-repeat;
    background-position: center;
}

    #edit_splitter_expandcollapse:hover {
        background-color: #DDDDDD;
    }

#edit_splitter_hideslide {
    /*text-align: center;*/
    height: 32px;
    width: 29px;
    background-image: url(../images/leftArrow.png);
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    border-left: 1px solid lightgray;
}

    #edit_splitter_hideslide:hover {
        background-color: #e0e0e0;
    }


#edit_splitter_moreshapes {
    height: 28px;
    padding-left: 4px;
}


.e-btn .e-icon {
    background-position-x: -98px;
    background-position-y: 4px;
}

.posupload {
    margin-left: 20px;
    margin-top: 20px;
}

.frame {
    margin-top: 10%;
    width: auto;
}

.control {
    margin: 62px;
}



.e-datavisualization-symbolpalette {
    background-color: #FBF9F9;
}

.previewClass {
    background-color: white;
    height: auto;
}


.insertLinkcancel:hover {
    background-color: #E28532;
    color: white;
}

.e-icon.e-resize-handle.e-resizable.e-js {
    visibility: hidden;
}

.insertLink {
    color: #5C5C5C;
}

input.e-input, input[type="text"].e-input, .e-input.e-placeholder{
    text-indent:10px;
}

.sf-d-menuitem.hyperLink {
    background-image: url('../images/diagram_context.png');
    background-repeat: no-repeat;
    background-position: 2px -247px;
}

    .sf-d-menuitem.hyperLink.hover {
        background-image: url('../images/diagram_context1.png');
        background-repeat: no-repeat;
        background-position: 2px -247px;
    }

.chat-bubble-arrow-border-mini {
    border-color: rgba(0, 0, 0, 0) lightgray rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 10px;
    bottom: -22px;
    height: 0;
    left: -20px;
    position: absolute;
    top: 28px;
    width: 0;
}

.chat-bubble-arrow-mini {
    border-color: rgba(0, 0, 0, 0) white rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 10px;
    bottom: -22px;
    height: 0;
    left: -19px;
    position: absolute;
    top: 28px;
    width: 0;
}

.Basicsp {
    display: block;
    background-image: url('../images/mini (1).png');
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-bottom: 1px solid lightgray;
}

    .Basicsp:hover {
        background-color: #E0E0E0;
    }

.Imagessp {
    display: block;
    background-image: url('../images/mini (6).png');
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-bottom: 1px solid lightgray;
}

    .Imagessp:hover {
        background-color: #E0E0E0;
    }

.BPMNsp {
    display: block;
    background-image: url('../images/mini (9).png');
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-bottom: 1px solid lightgray;
}

    .BPMNsp:hover {
        background-color: #E0E0E0;
    }
.Arrowsp
{
    display: block;
    background-image: url('../images/mini (8).png');
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-bottom: 1px solid lightgray;
}

.Arrowsp:hover
{
    background-color: #E0E0E0;
}
.BPMNsp1 {
    display: block;
    background-image: url('../images/mini (2).png');
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-bottom: 1px solid lightgray;
}

    .BPMNsp1:hover {
        background-color: #E0E0E0;
    }

.UMLsp {
    display: block;
    background-image: url('../images/mini (7).png');
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-bottom: 1px solid lightgray;
}

    .UMLsp:hover {
        background-color: #E0E0E0;
    }

.Electricalsp {
    display: block;
    background-image: url('../images/mini (4).png');
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-bottom: 1px solid lightgray;
}

    .Electricalsp:hover {
        background-color: #E0E0E0;
    }

.Flowsp {
    display: block;
    background-image: url('../images/mini (5).png');
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-bottom: 1px solid lightgray;
}

    .Flowsp:hover {
        background-color: #E0E0E0;
    }

.Flowchartsp {
    display: block;
    background-image: url('../images/mini (5).png');
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-bottom: 1px solid lightgray;
}

    .Flowchartsp:hover {
        background-color: #E0E0E0;
    }

.Connectorssp {
    display: block;
    background-image: url('../images/mini (3).png');
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-bottom: 1px solid lightgray;
}

    .Connectorssp:hover {
        background-color: #E0E0E0;
    }

.Intelligentsp {
    display: block;
    background-image: url('../images/mini (8).png');
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-bottom: 1px solid lightgray;
}

    .Intelligentsp:hover {
        background-color: #E0E0E0;
    }

#showMinimizedPlatedItems {
    background-color: white;
    border: none;
}

#showMinimizedPlatedItems1 {
    background-color: white;
    border: none;
}

.maximizesp {
    display: block;
    background-image: url('../images/rightArrow.png');
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-bottom: 1px solid lightgray;
}

.searchsp {
    display: block;
    background-image: url('../images/Search-Find.png');
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-bottom: 1px solid lightgray;
}

.maximizesp:hover {
    background-color: #E0E0E0;
}

.searchsp:hover {
    background-color: #E0E0E0;
}

.moreShapesp {
    display: block;
    background-image: url('../images/More-Shapes.png');
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-top: 1px solid lightgray;
}

#minimizedPalette {
    border-right: 1px solid lightgray;
}

input[type=text]::-ms-clear {
    display: none;
}

.chat-bubble-arrow-border-maxi {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) lightgray;
    border-style: solid;
    border-width: 10px;
    bottom: -22px;
    height: 0;
    left: 103px;
    position: absolute;
    top: -21px;
    width: 0;
}

.chat-bubble-arrow-maxi {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FAF6FF;
    border-style: solid;
    border-width: 10px;
    bottom: -22px;
    height: 0;
    left: 103px;
    position: absolute;
    top: -19px;
    width: 0;
}

.searchbox_icon-maxi {
    display: block;
    float: left;
    background-image: url('../images/Search-Find.png');
    height: 30px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: none;
    cursor: pointer;
}

.searchbox_icon-mini {
    display: block;
    float: right;
    background-image: url('../images/Search-Find.png');
    height: 30px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: none;
    cursor: pointer;
}

.searchicon-parent-div {
    width: 100%;
    border: 1px solid lightgray;
    height: 32px;
}

.searchicon-parent-div1 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D3D3D3;
    height: 32px;
    width: 100%;
}


#showMinimizedPlatedItemsparent {
    min-height: 30px;
}


/*dropdown border*/


.e-dd1-popup .e-hover, .e-dd1 .e-select:hover {
    background: transparent;
}

#fillColor_dropdown, #stroke_dropdown, #borderWidth_dropdown, #fontColor_dropdown, #labelBorderColor_dropdown, #lineColor_dropdown, #line_dropdown, #lineStyle_dropdown, #lineWidth_dropdown, #headDecorator_dropdown, #tailDecorator_dropdown {
    background: transparent;
    width: 45px;
}


.input.e-input, input[type="text"].e-input {
    line-height: 0px;
}


.e-ddl .e-in-wrap, .e-ddl-popup, .e-ddl .e-options {
    width: 0px;
    margin-left: 0px;
    margin-top: 0px;
    background: transparent;
    border: none;
}



#stroke_popup_list_wrapper {
    margin-left: -80px;
    margin-top: 4px;
    background: #F9F9F9;
    border: 1px solid;
    border-color: #bbbcbb;
}

.e-percent .e-padding, .e-currency .e-padding, .e-atc .e-padding, .e-datewidget .e-padding, .e-ddl .e-in-wrap, .e-timewidget .e-padding, .e-datetime-wrap .e-padding {
    padding: 0 44px 0 0;
}

.e-select:hover .e-icon, .e-disable.e-active.e-select:hover .e-icon, .e-js.e-tab .e-select:hover div, .e-menu > li:hover > a span.e-arrows, .e-menu > li:hover > span span.e-arrows, .e-menu > li > ul > li:hover > a span.e-arrows, .e-menu > li > ul > li:hover > span span.e-arrows, .e-menu .e-mhover > a span.e-arrows, .e-menu .e-mhover > span span.e-arrows, .e-menu .e-mfocused > a span.e-arrows, .e-menu .e-mfocused > span span.e-arrows {
    background-image: none;
}

.e-ddl, .e-datewidget, .e-timewidget, .e-datetime-wrap {
    height: 40px;
    margin-left: -40px;
    margin-top: 0px;
    background: transparent;
    float: left;
}

.Diagram-Toolbar {
    background-color: #F7F5F5;
    height: 40px;
}

#fontsize {
    width: 44px;
    margin-left: -30px;
    margin-top: 25px;
    background-color: red;
    background: #e9f2fb;
    border: dotted;
}

#fontsize_wrapper {
    width: 44px;
    height: 20px;
    margin-left: 16px;
    margin-top: 20px;
    border: thin;
}

#fontsize_container {
    margin-top: 0px;
    margin-left: 75px;
    border: thin;
}

#fontsize_dropdown {
    border: thin;
    width: 20px;
    background: #e9f2fb;
    background-image: inherit;
}

#fontsize_popup_list_wrapper {
    width: 75px;
    margin-left: 20px;
    margin-top: -30px;
    background-color: #e9f2fb;
}

#fontsize {
    margin-top: 0px;
}


#borderWidth_popup_list_wrapper {
    margin-left: -75px;
    background: #F9F9F9;
    max-height: 500px;
}

#bordercolor_popup_list_wrapper {
    margin-left: -55px;
    background-color: #dcf4f3;
}

#fillColor_popup_list_wrapper, #lineColor_popup_list_wrapper, #fontColor_popup_list_wrapper {
    margin-left: 0px;
    background: #F9F9F9;
    margin-left: -9px;
    margin-top: 4px;
    border: 1px solid;
    border-color: #bbbcbb;
}

#pageBackgroundColor_popup_list_wrapper {
    margin-left: 0px;
    background: #F9F9F9;
    margin-left: -150px;
    margin-top: 4px;
    border: 1px solid;
    border-color: #bbbcbb;
}

#lineWidth_popup_list_wrapper {
    margin-left: -80px;
    background: #F9F9F9;
}

#headDecorator_popup_list_wrapper, #fontColor_popup_list_wrapper, #labelBorderColor_popup_list_wrapper, #line_popup_list_wrapper, #lineStyle_popup_list_wrapper, #pageBackgroundColor_popup_list_wrapper {
    background: #F9F9F9;
}

#tailDecorator_popup_list_wrapper {
    margin-left: -15px;
    background: #F9F9F9;
}

#fillColor_wrapper, #line_wrapper, #lineColor_wrapper, #fontColor_wrapper, #stroke_wrapper, #borderWidth_wrapper, #lineWidth_wrapper, #headDecorator_wrapper, #lineStyle_wrapper, #tailDecorator_wrapper {
    height: 46px;
}



#toolbarEvents > .e-horizontal.e-ul > li {
    margin: 5px;
    margin-left: 6px;
    margin-top: 0px;
    width: 25px;
    height: 25px;
}


/*Tab Styles*/
.e-js.e-tab .e-content {
    background-color: #F7F7F7;
    border: none;
}

.e-tab .e-addborderbottom
{
    border-bottom: 1px solid transparent!important;
}

e-content {
    width: 200px;
    height: auto;
    background-color: #f9f9f9;
}

.e-datavisualization-symbolpalette .e-content {
    background-color: #f9f9f9;
}

.e-datavisualization-symbolpalette .e-scontent {
    background-color: #F1F1F3;
}

.e-js.e-tab .e-header > .e-active a {
    background-color: #F7F7F7;
}

.e-js.e-tab .e-header > .e-select, .e-js.e-tab .e-header > .e-active {
    background: #EDEDED;
    border-color: lightgray;
}

.e-js.e-tab .e-bottom-line, .e-js.e-tab .e-activebottom {
    border-bottom: 1px solid;
}

#fontStylelist_wrapper, #toolbarEvents_zoompercentage_wrapper, #fontsizelist_wrapper {
    width: 100px;
    height: 22px;
    margin-left: 0px;
}

#exportDialog_exportmode_wrapper, #exportDialog_exportformat_wrapper {
    width: 200px;
    height: 22px;
    margin-left: 0px;
}

#fontsizelist_wrapper {
    width: 55px;
}

#fontStylelist_container {
    width: 100px;
    background-color: white;
    border: 1px solid rgb(187, 188, 187);
}

#toolbarEvents_zoompercentage_container {
    width: 55px;
    background-color: white;
    border: 1px solid rgb(187, 188, 187);
}

#fontsizelist_container {
    width: 55px;
    background-color: white;
    border: 1px solid rgb(187, 188, 187);
}

#exportDialog_exportmode_container {
    width: 200px;
    background-color: white;
    border: 1px solid rgb(187, 188, 187);
}

#exportDialog_exportformat_container {
    width: 200px;
    background-color: white;
    border: 1px solid rgb(187, 188, 187);
}

 

.e-menu.e-horizontal > li > a span.e-arrows, .e-menu.e-horizontal > li > span span.e-arrows, .e-menu.e-horizontal > li:hover > a span.e-arrows, .e-menu.e-horizontal > li:hover > span span.e-arrows {
    background: none;
}

 .e-menu.e-horizontal .e-mhover>.e-menulink, .e-menu.e-horizontal .e-mfocused>.e-menulink, .e-menu.e-horizontal .e-active>.e-menulink {
     border-color:transparent
 }

.e-menu.e-horizontal .e-list.e-active,
.e-menu.e-vertical .e-list.e-active,
.e-menu.e-context .e-list.e-active,
.e-menu.e-horizontal .e-active, .e-menu.e-context .e-active, .e-menu.e-vertical .e-active, .e-menu.e-horizontal .e-active>a,.e-menu.e-horizontal .e-active>.e-menulink, .e-menu.e-horizontal .e-active>span, .e-menu.e-context .e-active>a,.e-menu.e-context .e-active>.e-menulink, .e-menu.e-context .e-active>span, .e-menu.e-vertical .e-active>a,.e-menu.e-vertical .e-active>.e-menulink, .e-menu.e-vertical .e-active>span, .e-menu-res-wrap .e-menu-res-in-wrap .e-icon.e-check-wrap:hover
{
    background: #229499;
}

.e-menu.e-horizontal .e-list:hover > .e-menulink,
.e-menu.e-horizontal .e-list:hover > a,
.e-menu.e-horizontal .e-list:hover > span,
.e-menu.e-vertical .e-list:hover > .e-menulink,
.e-menu.e-vertical .e-list:hover > a,
.e-menu.e-vertical .e-list:hover > span,
.e-menu.e-context .e-list:hover > .e-menulink,
.e-menu.e-context .e-list:hover > a,
.e-menu.e-context .e-list:hover > span
{
     color:#fff;
}
 
.e-menu.e-horizontal .e-mhover>a,
.e-menu.e-horizontal .e-mhover>.e-menulink,
.e-menu.e-horizontal .e-mfocused>a,
.e-menu.e-horizontal .e-mfocused>.e-menulink,
.e-menu.e-horizontal .e-list>ul li.e-haschild.e-active>a,
.e-menu.e-horizontal .e-list>ul li.e-haschild.e-active>.e-menulink,
.e-menu.e-context .e-mhover>a,
.e-menu.e-context .e-mhover>.e-menulink,
.e-menu.e-context .e-mfocused>a,
.e-menu.e-context .e-mfocused>.e-menulink,
.e-menu.e-context .e-list.e-active,
.e-menu.e-context .e-active{
    background: #229499;
}

#DiagramContent {
    height: 100%;
    width: 100%;
}

#fontStylelist_popup_list_wrapper, #toolbarEvents_zoompercentage_popup_list_wrapper, #fontsizelist_popup_list_wrapper, #exportDialog_exportmode_popup_list_wrapper, #exportDialog_exportformat_popup_list_wrapper {
    background-color: white;
    width: 50px;
}


.e-js.e-tab .e-header > .e-item:hover {
    background: #CCCCCC;
}

.e-js.e-tab .e-header {
    border-bottom: transparent;
}

.e-datavisualization-symbolpalette .e-text-container {
    text-overflow: ellipsis;
}

#gradientDiv {
    background-image: -moz-linear-gradient(#ffffff, #aaaaaa);
    background-image: -o-linear-gradient(#ffffff, #aaaaaa);
    background-image: linear-gradient(#ffffff, #aaaaaa);
}

.e-numeric, .e-percent, .e-currency, .e-mask {
    height: 25px;
    width: 64px;
    margin-left: 0px;
    float: left;
}

.e-in-wrap e-box e-padding {
    width: 65px;
    height: 25px;
    float: left;
    margin-left: 40px;
}

.e-widget e-numeric {
    width: 65px;
}

.e-ddl-popup div > ul li .e-align {
    float: none;
}

.e-icon.e-down-arrow {
    display: none;
}

.e-numeric .e-select:hover, .e-percent .e-select:hover, .e-currency .e-select:hover {
    background: #308c81;
}

.e-dialog .e-header {
    border-color: #28B1BF;
    background: #28B1BF;
}
.e-dialog>.e-header .e-title{
    color:#fff;
}
.tabIconStyle {
    font-size: 20px;
}

.dropdownPositionStyle {
    margin-top: -50px;
    margin-left: 40px;
    background-color: transparent;
    height: 47px;
}

.propertyPanelIconStyle {
    font-size: 22px;
    margin-left: 8px;
}

.toolBarIconStyle {
    font-size: 17px;
    color: #6B6B6B;
    margin-top: 4px;
    margin-left: 4px;
}

.fillIconStyle {
    font-size: 25px;
    margin-left: 8px;
    border: 1px solid #bbbcbb;
}

.toolblock1rightBorderVisible, .toolblock2rightBorderVisible, .toolblock4rightBorderVisible, .toolblock5rightBorderVisible, Ul2rightBorderVisible, Ul1rightBorderVisible {
    border-right: 1px solid #7F7F7F;
}

.toolblock6rightBorderVisible, .toolblock3rightBorderVisible {
    border-right: none;
}

.e-menu.e-horizontal > .e-list > a span.e-arrows:before, .e-menu.e-horizontal > .e-list > span span.e-arrows:before, .e-menu.e-horizontal > .e-list:hover > a span.e-arrows:before, .e-menu.e-horizontal > .e-list:hover > span span.e-arrows:before {
    content: none;
}

.e-menu.e-horizontal .e-list:hover, .e-menu.e-vertical .e-list:hover, .e-menu.e-context .e-list:hover {
    background-color: #229499;
}

.e-menu.e-context{
    background:#ecedee;
}

.e-menu.e-horizontal > .e-list .e-arrow-space
{
    margin-left: 10px;
}

.e-menu .e-list>.e-menulink, .e-menu .e-list > a
{
    padding: 3px 18px 5px;
}

.e-scrollbar .e-vscroll, .e-scrollbar .e-hscroll, .e-scrollbar .e-vhandlespace
{
    background:#ecedee
}

#toolbarEvents_zoompercentage_popup_list_wrapper {
    width: 55px;
    border: 1px solid #AFAFAF;
    max-height: none;
}

#toolbarEvents_zoompercentage_dropdown {
    display: none;
}

.e-menu-res-wrap {
    height: 35px;
}

#Palette_maxi_header {
    display: none;
}

#showMinimizedPlatedItems_canvas > .e-header {
    display: none;
}

#maxi_Search_canvas > .e-header {
    display: none;
}

#maxi_Search_canvas > .e-datavisualization-symbolpalette .e-content {
    background-color: white;
}

#maxi_Search_canvas {
    background-color: white;
}


#basicShapes_Search_canvas > .e-header {
    display: none;
}

#umlShapes_Search_canvas > .e-header {
    display: none;
}

#flowShapes_search_canvas > .e-header {
    display: none;
}

#electrical_Search_canvas > .e-header {
    display: none;
}

#bpmnShapes_Search_canvas > .e-header {
    display: none;
}

#connectors_Search_canvas > .e-header {
    display: none;
}

#intelligent_Search_canvas > .e-header {
    display: none;
}

#maxi_Search {
    border: none;
}

#maxi_Search_canvas > .e-scontent {
    background-color: white;
}

#basicShapes_Search_canvas > .e-scontent {
    background-color: white;
}

#umlShapes_Search_canvas > .e-scontent {
    background-color: white;
}

#flowShapes_search_canvas > .e-scontent {
    background-color: white;
}

#electrical_Search_canvas > .e-scontent {
    background-color: white;
}

#bpmnShapes_Search_canvas > .e-scontent {
    background-color: white;
}

#connectors_Search_canvas > .e-scontent {
    background-color: white;
}

#intelligent_Search_canvas > .e-scontent {
    background-color: white;
}

.e-dialog .e-dialog-icon:hover {
    background: #229499;
}

#basicDialog_wrapper {
    width: 450px;
}

#parent_tree {
    height: calc(100% - 15%);
    width: calc(100% - 9%);
    border: 1px solid #D6D6D6;
}

.e-treeview .e-text {
    font-size: 16px;
    margin-left: 9px;
}

.fileItemHover {
    /*background-color: pink;*/
    height: 23px;
    margin-left: -40px;
}

    .fileItemHover:hover {
        background-color: #E6E6E6;
    }

    .fileItemHover.selected {
        background-color: #D1D1D1;
    }

.deleteIconfileItem:hover {
    background: none;
}

.e-treeview .e-active {
    background-color: transparent;
    color: #5c5c5c;
}


.e-text .CanSelect {
    pointer-events: none;
}

.fileItemHover > a:link {
    text-decoration: none;
}

#toolbarEvents_zoompercentage_container {
    width: 70px;
}

#toolbarEvents_zoompercentage_dropdown > span {
    display: block;
}

#fontStylelist_dropdown > span {
    display: block;
}

#fontsizelist_dropdown > span {
    display: block;
}


.label {
    font-weight: normal;
}

.icon-checkmark2 {
    background-image: url(../images/tick2.png);
    background-repeat: no-repeat;
    height: 12px;
    width: 12px;
    display: block;
}

    .icon-checkmark2.iconhover {
        background-image: url(../images/tick1.png);
    }

#SmartGuid:hover > span {
    background: red;
}

.e-treeview .e-item {
    margin: 0;
    outline: 0 none;
    padding: 0 0 0 3px;
    white-space: nowrap;
}

.userHandle:hover {
    fill: #8B8C8C;
}

.userHandle-icon {
    pointer-events: none;
}

.e-treeview-wrap {
    overflow: hidden;
}

.decoratorIcons {
    font-size: 25px;
    margin-left: 12px;
}

.e-toolbar.e-focus {
    box-shadow: none;
}

.e-datavisualization-symbolpalette .e-header-arrow.expanded.selected:before, .e-datavisualization-symbolpalette .e-header-arrow.expanded.hover:before {
    content: none;
}

.e-datavisualization-symbolpalette .e-header-arrow.expanded:before {
    content: none;
}

.e-datavisualization-symbolpalette .e-header-arrow.collapsed:before {
    content: none;
}

.e-widget, .e-widget [class^="e-"], .e-widget [class*=" e-"] {
    list-style-type: none;
}

.fileItemHover > a {
    text-decoration: none;
}

.e-menu.e-horizontal > .e-list .e-arrow-space {
    padding-left: 16px;
}

.Overview-div {
    background-color: #E7E7E7;
    border: 1px solid #D3D3D3;
    padding: 8px;
}

    .Overview-div > div {
        background-color: white;
    }

.sliderValue {
    border: 2px solid #D3D3D3;
    width: 42px;
}

.overviewsp {
    display: block;
    background-image: url('../images/mini (6).png');
    height: 24px;
    width: 24px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

    .overviewsp:hover {
        background-color: #E0E0E0;
    }

#artboardEvents > .e-horizontal.e-ul > li {
    margin: 5px;
    margin-left: 6px;
    margin-top: 0px;
    height: 25px;
}

    #artboardEvents > .e-horizontal.e-ul > li:hover {
        background-color: #F7F5F5;
        color: #5c5c5c;
        border: 1px solid transparent;
    }

.backgroundColordropdown {
    margin-top: -22px;
    margin-left: -3px;
    background-color: transparent;
    font-size: 15px;
}

.backgroundIconStyle {
    font-size: 13px;
    margin-left: 3px;
    border: 1px solid #bbbcbb;
}

#pageBackgroundColor_wrapper {
    height: 27px;
    margin-left: -18px;
}

#pageBackgroundColor_dropdown {
    background: transparent;
    width: 26px;
}

.icon-TBi__FitToPage::before {
    content: url("../images/FitIcon-03.png");
    align-content: center;
    margin: -2px;
}

#Overview-div {
    position: absolute;
    bottom: 0;
    left: 0;
}

#opacity .e-handle {
    height: 20px !important;
    width: 6px !important;
}

#opacity .e-select {
    margin-top: -5px !important;
}

#save_icon {
    background: #28B1BF;
}

    #save_icon:hover {
        background: #229499;
    }

.e-js.e-tab.e-js .e-header > .e-select, .e-js.e-tab.e-js .e-header > .e-active, .e-js.e-tab.e-js .e-left > .e-active, .e-js.e-tab.e-js .e-right > .e-active, .e-js.e-tab.e-js .e-left > .e-select, .e-js.e-tab.e-js .e-right > .e-select {
    background: #E2E2E2;
}

.e-js.e-tab.e-js .e-header > .e-item:hover, .e-js.e-tab.e-js .e-left > .e-item:hover, .e-js.e-tab.e-js .e-right > .e-item:hover {
    background: darkgray;
}

.e-menu, input.e-input, input[type="text"].e-input, .e-mask, .e-ul, .e-btn div, .e-tbtn.e-chkbx-hidden, .e-datepicker table, .e-datepicker table th, .e-datepicker table td, .e-menu.e-horizontal > .e-list, .e-menu.e-vertical > li.e-separator, .e-menu.e-context > li.e-separator, .e-tab .e-header, .e-uploadbox .e-action-perform, .e-uploadbox .uploaddialog.e-dialog.e-dialog-content, .e-tagcloud .e-load, .e-scale, .e-select, .e-input.e-placeholder {
    padding: 0;
}
/*Event*/
.sf-d-menuitem.endEvent {
    background-image: url("../images/Icons-43.png");
    background-size:18px;
}
.sf-d-menuitem.nonInterruptingIntermediate {
    background-image: url("../images/Icons-42.png");
    background-size:18px;
}
.sf-d-menuitem.throwingIntermediate,.sf-d-menuitem.interruptingIntermediate {
    background-image: url("../images/Icons-41.png");
    background-size:18px;
}
.sf-d-menuitem.nonInterruptingStart {
    background-image: url("../images/Icons-40.png");
    background-size:18px;
}
.sf-d-menuitem.interruptingStart {
    background-image: url("../images/Icons-39.png");
    background-size:18px;
}
.sf-d-menuitem.eventType {
    background-image: none;
}
/*TriggerResult*/
.sf-d-menuitem.triggerResult {
    background-image: none;
}
.sf-d-menuitem.noTrigger {
    background-image: url("../images/Icons-06.png");
    background-size:18px;
}
.sf-d-menuitem.messageTrigger {
    background-image: url("../images/Icons-07.png");
    background-size:18px;
}
.sf-d-menuitem.timerTrigger {
    background-image: url("../images/Icons-08.png");
    background-size:18px;
}
.sf-d-menuitem.escalationTrigger {
    background-image: url("../images/Icons-09.png");
    background-size:18px;
}
.sf-d-menuitem.linkTrigger {
    background-image: url("../images/Icons-10.png");
    background-size:18px;
}
.sf-d-menuitem.errorTrigger {
    background-image: url("../images/Icons-11.png");
    background-size:18px;
}
.sf-d-menuitem.compensationTrigger {
    background-image: url("../images/Icons-12.png");
    background-size:18px;
}
.sf-d-menuitem.signalTrigger {
    background-image: url("../images/Icons-13.png");
    background-size:18px;
}
.sf-d-menuitem.multipleTrigger {
    background-image: url("../images/Icons-14.png");
    background-size:18px;
}
.sf-d-menuitem.parallelTrigger {
    background-image: url("../images/Icons-15.png");
    background-size:18px;
}
.sf-d-menuitem.cancelTrigger {
    background-image: url("../images/Icon_Cancel.png");
    background-size:18px;
}
.sf-d-menuitem.conditionalTrigger {
    background-image: url("../images/Icon_Conditional .png");
    background-size:18px;
}
.sf-d-menuitem.terminateTrigger {
    background-image: url("../images/Icon_Terminate.png");
    background-size:18px;
}
/*GateWay*/
.sf-d-menuitem.gateway {
    background-image: none;
}
.sf-d-menuitem.noGateway {
    background-image: url("../images/Icons-16.png");
    background-size:18px;
}
.sf-d-menuitem.exclusiveGateway {
    background-image: url("../images/Icons-17.png");
    background-size:18px;
}
.sf-d-menuitem.parallelGateway {
    background-image: url("../images/Icons-18.png");
    background-size:18px;
}
.sf-d-menuitem.inclusiveGateway {
    background-image: url("../images/Icons-19.png");
    background-size:18px;
}
.sf-d-menuitem.complexGateway {
    background-image: url("../images/Icons-20.png");
    background-size:18px;
}
.sf-d-menuitem.eventBasedGateway {
    background-image: url("../images/Icons-22.png");
    background-size:18px;
}
.sf-d-menuitem.exclusiveeventbased {
    background-image: url("../images/Icon_Event-based-Gateway.png");
    background-size:18px;
}
.sf-d-menuitem.paralleleventbased {
    background-image: url("../images/Icon_Parallel-Event.png");
    background-size:18px;
}
/*Activity Acti
/*Activity Activity*/
.sf-d-menuitem.activityType {
    background-image: none;
}
.sf-d-menuitem.task {
    background-image: url("../images/Icons-28.png");
    background-size:18px;
}
.sf-d-menuitem.collapsedSubProcess {
    background-image: url("../images/Icons-26.png");
    background-size:18px;
}
.sf-d-menuitem.none {
    background-image: url("../images/Icons-02.png");
    background-size:18px;
}
/*Activity Loop*/
.sf-d-menuitem.loop {
    background-image: none;
}
.sf-d-menuitem.standardLoop {
    background-image: url("../images/Icons-03.png");
    background-size:18px;
}
.sf-d-menuitem.parallelMultiInstanceLoop {
    background-image: url("../images/Icons-04.png");
    background-size:18px;
}
.sf-d-menuitem.sequenceMultiInstanceLoop {
    background-image: url("../images/Icons-05.png");
    background-size:18px;
}

/*Activity Task Type*/
.sf-d-menuitem.taskType {
    background-image: none;
}
.sf-d-menuitem.serviceTask {
    background-image: url("../images/Icons-32.png");
    background-size:18px;
}
.sf-d-menuitem.receiveTask {
    background-image: url("../images/Icons-33.png");
    background-size:18px;
}
.sf-d-menuitem.sendTask {
    background-image: url("../images/Icons-34.png");
    background-size:18px;
}
.sf-d-menuitem.instantiatingReceiveTask {
    background-image: url("../images/Icons-07.png");
    background-size:18px;
}
.sf-d-menuitem.manualTask {
    background-image: url("../images/Icons-35.png");
    background-size:18px;
}
.sf-d-menuitem.businessRuleTask {
    background-image: url("../images/Icons-36.png");
    background-size:18px;
}
.sf-d-menuitem.userTask {
    background-image: url("../images/Icons-37.png");
    background-size:18px;
}
.sf-d-menuitem.scriptTask {
    background-image: url("../images/Icons-38.png");
    background-size:18px;
}
/*Activity Compensation*/
.sf-d-menuitem.compensation {
    background-image: none;
}
.sf-d-menuitem.compensation1 {
    background-image: url("../images/Icons-29.png");
    background-size:18px;
}
/*Task Call*/
.sf-d-menuitem.taskCall {
    background-image: none;
}
.sf-d-menuitem.call {
    background-image: url("../images/Icons-28.png");
    background-size:18px;
}
/*Task Ad-hoc*/
.sf-d-menuitem.adhoc {
    background-image: none;
}
.sf-d-menuitem.adhoc1 {
    background-image: url("../images/Icons-30.png");
    background-size:18px;
}
.sf-d-menuitem.dataObject,.sf-d-menuitem.collection {
    background-image: none;
}
.sf-d-menuitem.noDataObject {
    background-image: url("../images/Icons-24.png");
    background-size:18px;
}
.sf-d-menuitem.collection1 {
    background-image: url("../images/Icons-25.png");
    background-size:18px;
}
.sf-d-menuitem.input {
    background-image: url("../images/Icon_Data-input.png");
    background-size:18px;
}
.sf-d-menuitem.output {
    background-image: url("../images/Icon_Data-Output.png");
    background-size:18px;
}
/*subProcess Type*/
.sf-d-menuitem.subProcessType {
    background-image: none;
}
.sf-d-menuitem.event {
    background-image: url("../images/Event-sub-process.png");
    background-size:18px;
}
.sf-d-menuitem.transaction {
    background-image: url("../images/Transaction.png");
    background-size:18px;
}
/*Boundary*/
.sf-d-menuitem.boundary {
    background-image: none;
}
.sf-d-menuitem.defaultBoundary {
    background-image: url("../images/Icons-44.png");
    background-size:18px;
}
.sf-d-menuitem.callBoundary {
    background-image: url("../images/Icons-45.png");
    background-size:18px;
}
.sf-d-menuitem.eventBoundary {
    background-image: url("../images/Icons-46.png");
    background-size:18px;
}
/*Event*/
.sf-d-menuitem.hover.endEvent {
    background-image: url("../images/Icons1-43.png");
    background-size:18px;
}
.sf-d-menuitem.hover.nonInterruptingIntermediate {
    background-image: url("../images/Icons1-42.png");
    background-size:18px;
}
.sf-d-menuitem.hover.throwingIntermediate,.sf-d-menuitem.hover.interruptingIntermediate {
    background-image: url("../images/Icons1-41.png");
    background-size:18px;
}
.sf-d-menuitem.hover.nonInterruptingStart {
    background-image: url("../images/Icons1-40.png");
    background-size:18px;
}
.sf-d-menuitem.hover.interruptingStart {
    background-image: url("../images/Icons1-39.png");
    background-size:18px;
}
/*TriggerResult*/
.sf-d-menuitem.hover.noTrigger {
    background-image: url("../images/Icons1-06.png");
    background-size:18px;
}
.sf-d-menuitem.hover.messageTrigger {
    background-image: url("../images/Icons1-07.png");
    background-size:18px;
}
.sf-d-menuitem.hover.timerTrigger {
    background-image: url("../images/Icons1-08.png");
    background-size:18px;
}
.sf-d-menuitem.hover.escalationTrigger {
    background-image: url("../images/Icons1-09.png");
    background-size:18px;
}
.sf-d-menuitem.hover.linkTrigger {
    background-image: url("../images/Icons1-10.png");
    background-size:18px;
}
.sf-d-menuitem.hover.errorTrigger {
    background-image: url("../images/Icons1-11.png");
    background-size:18px;
}
.sf-d-menuitem.hover.compensationTrigger {
    background-image: url("../images/Icons1-12.png");
    background-size:18px;
}
.sf-d-menuitem.hover.signalTrigger {
    background-image: url("../images/Icons1-13.png");
    background-size:18px;
}
.sf-d-menuitem.hover.multipleTrigger {
    background-image: url("../images/Icons1-14.png");
    background-size:18px;
}
.sf-d-menuitem.hover.parallelTrigger {
    background-image: url("../images/Icons1-15.png");
    background-size:18px;
}
.sf-d-menuitem.hover.cancelTrigger {
    background-image: url("../images/Icon_Cancel1.png");
    background-size: 18px;
}

.sf-d-menuitem.hover.conditionalTrigger {
    background-image: url("../images/Icon_Conditional1.png");
    background-size: 18px;
}

.sf-d-menuitem.hover.terminateTrigger {
    background-image: url("../images/Icon_Terminate1.png");
    background-size: 18px;
}
/*GateWay*/
.sf-d-menuitem.hover.noGateway {
    background-image: url("../images/Icons1-16.png");
    background-size:18px;
}
.sf-d-menuitem.hover.exclusiveGateway {
    background-image: url("../images/Icons1-17.png");
    background-size:18px;
}
.sf-d-menuitem.hover.parallelGateway {
    background-image: url("../images/Icons1-18.png");
    background-size:18px;
}
.sf-d-menuitem.hover.inclusiveGateway {
    background-image: url("../images/Icons1-19.png");
    background-size:18px;
}
.sf-d-menuitem.hover.complexGateway {
    background-image: url("../images/Icons1-20.png");
    background-size:18px;
}
.sf-d-menuitem.hover.eventBasedGateway {
    background-image: url("../images/Icons1-22.png");
    background-size:18px;
}
.sf-d-menuitem.hover.exclusiveeventbased {
    background-image: url("../images/Icon_Event-based-Gateway1.png");
    background-size: 18px;
}

.sf-d-menuitem.hover.paralleleventbased {
    background-image: url("../images/Icon_Parallel-Event1.png");
    background-size: 18px;
}
/*Activity Activity*/
.sf-d-menuitem.hover.task {
    background-image: url("../images/Icons1-28.png");
    background-size:18px;
}
.sf-d-menuitem.hover.collapsedSubProcess {
    background-image: url("../images/Icons1-26.png");
    background-size:18px;
}
.sf-d-menuitem.hover.none {
    background-image: url("../images/Icons1-02.png");
    background-size:18px;
}
/*Activity Loop*/
.sf-d-menuitem.hover.standardLoop {
    background-image: url("../images/Icons1-03.png");
    background-size:18px;
}
.sf-d-menuitem.hover.parallelMultiInstanceLoop {
    background-image: url("../images/Icons1-04.png");
    background-size:18px;
}
.sf-d-menuitem.hover.sequenceMultiInstanceLoop {
    background-image: url("../images/Icons1-05.png");
    background-size:18px;
}

/*Activity Task Type*/
.sf-d-menuitem.hover.serviceTask {
    background-image: url("../images/Icons1-32.png");
    background-size:18px;
}
.sf-d-menuitem.hover.receiveTask {
    background-image: url("../images/Icons1-33.png");
    background-size:18px;
}
.sf-d-menuitem.hover.sendTask {
    background-image: url("../images/Icons1-34.png");
    background-size:18px;
}
.sf-d-menuitem.hover.instantiatingReceiveTask {
    background-image: url("../images/Icons1-07.png");
    background-size:18px;
}
.sf-d-menuitem.hover.manualTask {
    background-image: url("../images/Icons1-35.png");
    background-size:18px;
}
.sf-d-menuitem.hover.businessRuleTask {
    background-image: url("../images/Icons1-36.png");
    background-size:18px;
}
.sf-d-menuitem.hover.userTask {
    background-image: url("../images/Icons1-37.png");
    background-size:18px;
}
.sf-d-menuitem.hover.scriptTask {
    background-image: url("../images/Icons1-38.png");
    background-size:18px;
}
/*Activity Compensation*/
.sf-d-menuitem.hover.compensation1 {
    background-image: url("../images/Icons1-29.png");
    background-size:18px;
}
/*Task Call*/
.sf-d-menuitem.hover.call {
    background-image: url("../images/Icons1-28.png");
    background-size:18px;
}
/*Task Ad-hoc*/
.sf-d-menuitem.hover.adhoc1 {
    background-image: url("../images/Icons1-30.png");
    background-size:18px;
}
.sf-d-menuitem.hover.dataObject {
    background-image: none;
}
.sf-d-menuitem.hover.noDataObject {
    background-image: url("../images/Icons1-24.png");
    background-size:18px;
}
.sf-d-menuitem.hover.collection1 {
    background-image: url("../images/Icons1-25.png");
    background-size: 18px;
}

.sf-d-menuitem.hover.input {
    background-image: url("../images/Icon_Data-input1.png");
    background-size: 18px;
}

.sf-d-menuitem.hover.output {
    background-image: url("../images/Icon_Data-Output1.png");
    background-size: 18px;
}
/*subProcess Type*/
.sf-d-menuitem.hover.subProcessType {
    background-image: none;
}

.sf-d-menuitem.hover.event {
    background-image: url("../images/Icon_Event-Subprocess1.png");
    background-size: 18px;
}

.sf-d-menuitem.hover.transaction {
    background-image: url("../images/Icon_Transaction1.png");
    background-size: 18px;
}
/*Boundary*/
.sf-d-menuitem.hover.boundary {
    background-image: none;
}
.sf-d-menuitem.hover.defaultBoundary {
    background-image: url("../images/Icons1-44.png");
    background-size:18px;
}
.sf-d-menuitem.hover.callBoundary {
    background-image: url("../images/Icons1-45.png");
    background-size:18px;
}
.sf-d-menuitem.hover.eventBoundary {
    background-image: url("../images/Icons1-46.png");
    background-size:18px;
}


.e-tab .e-bottom-line {
    margin-right: -4px;
}

.e-widget.e-js.e-tab {
    font-size: small;
}

.e-tab .e-header.e-addborderbottom .e-active {
    border-top: 1px solid transparent;
}
.borderbox{
     -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
 }

 .e-scrollbar .e-vhandle{
     border-left:1px solid #c8c8c8
 }
  .e-scrollbar .e-hhandle{
     border-top:1px solid #c8c8c8
 }