﻿.e-dialog .e-header
{
    display: none;
}

#diagramContent_canvas_scroller
{
    display: none;
}

.bookNow
{
    color: white;
    font-size: 17px;
    border: 1px solid #2eaf80;
    background-color: #2eaf80;
    width: 100px;
    height: 30px;
}

.sampleContainer
{
    background-color: white;
    padding: 75px;
}

.sampleOuterTable
{
    height: 400px;
    vertical-align: top;
}

.userInteractionDiv
{
    height: 380px;
}

.userInteractionTable
{
    padding: 15px;
    background-color: #f4f4f4;
    vertical-align: top;
    border: 1px solid lightgray;
}

.travelTypeDiv
{
    background-color: white;
    border: 1px solid lightgray;
    width: 259px;
}

.iconButton
{
    color: white;
    font-size: 18px;
    border: 1px solid #67c9ed;
    background-color: #67c9ed;
    width: 30px;
    height: 28px;
}

.countBox
{
    text-align: center;
    width: 40px;
    height: 22px;
    outline: none;
    border: 1px solid lightgray;
}

#btnSearchFlight
{
    vertical-align: bottom;
    color: white;
    font-size: 14px;
    border-color: #67c9ed;
    background-color: #67c9ed;
}

    #btnSearchFlight:hover
    {
        background-color: #11A0C1;
        border-color: #11A0C1;
    }

.sliderDiv
{
    height: 170px;
    width: 327px;
    background-color: #f4f4f4;
}

.slideTable
{
    height: 170px;
    width: 327px;
    margin-top: 10px;
    padding: 13px;
    border: 1px solid lightgray;
}


.countIconTable
{
    border-spacing: 0;
    height: 350px;
    margin-top: -29px;
    padding: 10px;
    width: 900px;
}

.countIconColumn
{
    padding: 14px;
    vertical-align: top;
    width: 30%;
    border: 1px dashed lightgray;
}

.iconDiv
{
    overflow: auto;
    height: 120px;
}

.diagramDiv
{
    width: 625px;
    height: 357px;
    border: 1px dashed lightgray;
    vertical-align: top;
}

#bg_mask
{
    bottom: 0;
    height: 610px;
    left: 0;
    margin: 0 auto auto;
    position: absolute;
    right: 0;
    top: 198px;
    visibility: hidden;
    width: 981px;
    z-index: 0;
    margin-top: -164px;
}

#frontlayer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-left: 330px;
    margin-top: 110px;
    padding-left: 37px;
    padding-top: 30px;
    width: 325px;
    height: 172px;
    background: url(images/successImageHelper.png);
    background-repeat: no-repeat;
    visibility: hidden;
    z-index: 1;
}









.e-datavisualization-diagram
{
    overflow: hidden;
}

.header
{
    background-color: #67c9ed;
    border-bottom: 4px solid #67c9ed;
}

.e-button
{
    width: 100%;
}

.e-slider
{
    height: 10px;
    background-color: lightgray;
}

    .e-slider .e-slider-range
    {
        background-color: #67c9ed;
    }

.e-slider-handle
{
    width: 10px;
    height: 10px;
    background-color: black;
}

.e-slider .e-slider-handle.e-state-default
{
    background-color: black;
}

.header
{
    background-color: #67c9ed;
    height: 55px;
    width: 100%;
    position: fixed;
    z-index: 3;
}

    .header span
    {
        display: inline-block;
        padding-left: 103px;
        margin-top: 12px;
        font-size: 20px;
        font-weight: bold;
        color: white;
    }

.gridArea
{
    padding-top: 100px;
}

.userArea
{
    width: 300px;
    height: 450px;
    border: 1px solid black;
    background-color: #c4c4c4;
}

.textInput
{
    text-indent: 10px;
    font-family: Segoe UI;
    font-size: 12px;
    line-height: 20px;
    border: medium none;
    height: 30px;
    width: 80%;
    margin: 0;
    padding: 0;
    outline: 0 none;
}

#btnOneWaymainiconstatic
{
    background-image: url(images/icons-white.png);
    background-position: -470px -62px;
    background-color: #67c9ed;
}

#btnRoundTripmainiconstatic
{
    background-image: url(images/icons-white.png);
    background-position: -417px -60px;
    background-color: #67c9ed;
}

.e-grid-core
{
    font-size: 15px;
}

/* Styles for dialog window */
#diagramView
{
    background: none repeat scroll 0 0 #FFFFFF;
    height: 400px;
    margin: 12px auto;
    padding: 53px 30px 30px;
    position: relative;
    text-align: left;
    width: 900px;
}


/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog
{
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog
{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog
{
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg
{
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg
{
    opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg
{
    opacity: 0;
}



/**
 * Fade-move animation for second dialog
 */

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog
{
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
    -moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
    -ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
    -o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
    transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog
{
    opacity: 1;
    -webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 );
    -moz-transform: translateY(0) perspective( 600px ) rotateX( 0 );
    -ms-transform: translateY(0) perspective( 600px ) rotateX( 0 );
    -o-transform: translateY(0) perspective( 600px ) rotateX( 0 );
    transform: translateY(0) perspective( 600px ) rotateX( 0 );
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog
{
    opacity: 0;
    -webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
    -moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
    -ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
    -o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
    transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg
{
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg
{
    opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg
{
    opacity: 0;
}

.e-tbtn-wrap
{
    display: inline-block;
    float: left;
}

.e-timewidget .e-icon, .e-datewidget .e-icon, .e-datetime-wrap .e-icon
{
    height: 20px;
    margin-left: 4px;
    margin-top: -7px;
}

.e-datewidget .e-date.e-icon:before, .e-datetime-wrap .e-datetime.e-icon:before
{
    margin-left: -3px;
    margin-top: -3px;
}

.sampleOuterTable
{
    margin-top: 0px;
}

.selectAdultObject
{
    background-color: white;
}

    .selectAdultObject:hover
    {
        background-color: #CCE8EA;
    }

.selectchildObject
{
    background-color: white;
}

    .selectchildObject:hover
    {
        background-color: #CCE8EA;
    }

#btnOpenPopup:hover
{
    background-color: #02CE5A;
}

#btnBookNow:hover
{
    background-color: #02CE5A;
}


/*!
 * Bootstrap v2.3.2
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
.clearfix
{
    *zoom: 1;
}

    .clearfix:before,
    .clearfix:after
    {
        display: table;
        content: "";
        line-height: 0;
    }

    .clearfix:after
    {
        clear: both;
    }

.hide-text
{
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.input-block-level
{
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section
{
    display: block;
}

audio,
canvas,
video
{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

    audio:not([controls])
    {
        display: none;
    }

html
{
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a:focus
{
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

a:hover,
a:active
{
    outline: 0;
}

sub,
sup
{
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup
{
    top: -0.5em;
}

sub
{
    bottom: -0.25em;
}

img
{
    /* Responsive images (ensure images don't scale beyond their parents) */
    max-width: 100%;
    /* Part 1: Set a maxium relative to the parent */
    width: auto\9;
    /* IE7-8 need help adjusting responsive images */
    height: auto;
    /* Part 2: Scale the height according to the width, otherwise you get stretching */
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

#map_canvas img,
.google-maps img
{
    max-width: none;
}

button,
input,
select,
textarea
{
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}

button,
input
{
    *overflow: visible;
    line-height: normal;
}

    button::-moz-focus-inner,
    input::-moz-focus-inner
    {
        padding: 0;
        border: 0;
    }

    button,
    html input[type="button"],
    input[type="reset"],
    input[type="submit"]
    {
        -webkit-appearance: button;
        cursor: pointer;
    }

    label,
    select,
    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"],
    input[type="radio"],
    input[type="checkbox"]
    {
        cursor: pointer;
    }

    input[type="search"]
    {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        -webkit-appearance: textfield;
    }

        input[type="search"]::-webkit-search-decoration,
        input[type="search"]::-webkit-search-cancel-button
        {
            -webkit-appearance: none;
        }

textarea
{
    overflow: auto;
    vertical-align: top;
}

@media print
{
    *
    {
        text-shadow: none !important;
        color: #000 !important;
        background: transparent !important;
        box-shadow: none !important;
    }

    a,
    a:visited
    {
        text-decoration: underline;
    }

        a[href]:after
        {
            content: " (" attr(href) ")";
        }

    abbr[title]:after
    {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after
    {
        content: "";
    }

    pre,
    blockquote
    {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead
    {
        display: table-header-group;
    }

    tr,
    img
    {
        page-break-inside: avoid;
    }

    img
    {
        max-width: 100% !important;
    }

    @page
    {
        margin: 0.5cm;
    }

    p,
    h2,
    h3
    {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3
    {
        page-break-after: avoid;
    }
}

body
{
    margin: 0;
    font-family: Segoe UI;
    font-size: 14px;
    color: #5b5b5b;
    background-color: #2d2e2d;
}

a
{
    color: #5b5b5b;
    text-decoration: none;
}

    a:hover,
    a:focus
    {
        color: #5b5b5b;
        text-decoration: underline;
    }

.img-rounded
{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.img-polaroid
{
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.img-circle
{
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
}

.row
{
    margin-left: -20px;
    *zoom: 1;
}

    .row:before,
    .row:after
    {
        display: table;
        content: "";
        line-height: 0;
    }

    .row:after
    {
        clear: both;
    }

[class^="span"]
{
    float: left;
    min-height: 1px;
    margin-left: 20px;
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container
{
    width: 940px;
}

.span12
{
    width: 940px;
}

.span11
{
    width: 860px;
}

.span10
{
    width: 780px;
}

.span9
{
    width: 700px;
}

.span8
{
    width: 620px;
}

.span7
{
    width: 540px;
}

.span6
{
    width: 460px;
}

.span5
{
    width: 380px;
}

.span4
{
    width: 300px;
}

.span3
{
    width: 220px;
}

.span2
{
    width: 140px;
}

.span1
{
    width: 60px;
}

.offset12
{
    margin-left: 980px;
}

.offset11
{
    margin-left: 900px;
}

.offset10
{
    margin-left: 820px;
}

.offset9
{
    margin-left: 740px;
}

.offset8
{
    margin-left: 660px;
}

.offset7
{
    margin-left: 580px;
}

.offset6
{
    margin-left: 500px;
}

.offset5
{
    margin-left: 420px;
}

.offset4
{
    margin-left: 340px;
}

.offset3
{
    margin-left: 260px;
}

.offset2
{
    margin-left: 180px;
}

.offset1
{
    margin-left: 100px;
}

.row-fluid
{
    width: 100%;
    *zoom: 1;
}

    .row-fluid:before,
    .row-fluid:after
    {
        display: table;
        content: "";
        line-height: 0;
    }

    .row-fluid:after
    {
        clear: both;
    }

    .row-fluid [class^="span"]
    {
        display: block;
        width: 100%;
        min-height: 30px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        margin-left: 2.127659574468085%;
        *margin-left: 2.074468085106383%;
    }

        .row-fluid [class^="span"]:first-child
        {
            margin-left: 0;
        }

    .row-fluid .controls-row [class^="span"] + [class^="span"]
    {
        margin-left: 2.127659574468085%;
    }

    .row-fluid .span12
    {
        width: 100%;
        *width: 99.94680851063829%;
    }

    .row-fluid .span11
    {
        width: 91.48936170212765%;
        *width: 91.43617021276594%;
    }

    .row-fluid .span10
    {
        width: 82.97872340425532%;
        *width: 82.92553191489361%;
    }

    .row-fluid .span9
    {
        width: 74.46808510638297%;
        *width: 74.41489361702126%;
    }

    .row-fluid .span8
    {
        width: 65.95744680851064%;
        *width: 65.90425531914893%;
    }

    .row-fluid .span7
    {
        width: 57.44680851063829%;
        *width: 57.39361702127659%;
    }

    .row-fluid .span6
    {
        width: 48.93617021276595%;
        *width: 48.88297872340425%;
    }

    .row-fluid .span5
    {
        width: 40.42553191489362%;
        *width: 40.37234042553192%;
    }

    .row-fluid .span4
    {
        width: 31.914893617021278%;
        *width: 31.861702127659576%;
    }

    .row-fluid .span3
    {
        width: 23.404255319148934%;
        *width: 23.351063829787233%;
    }

    .row-fluid .span2
    {
        width: 14.893617021276595%;
        *width: 14.840425531914894%;
    }

    .row-fluid .span1
    {
        width: 6.382978723404255%;
        *width: 6.329787234042553%;
    }

    .row-fluid .offset12
    {
        margin-left: 104.25531914893617%;
        *margin-left: 104.14893617021275%;
    }

        .row-fluid .offset12:first-child
        {
            margin-left: 102.12765957446808%;
            *margin-left: 102.02127659574467%;
        }

    .row-fluid .offset11
    {
        margin-left: 95.74468085106382%;
        *margin-left: 95.6382978723404%;
    }

        .row-fluid .offset11:first-child
        {
            margin-left: 93.61702127659574%;
            *margin-left: 93.51063829787232%;
        }

    .row-fluid .offset10
    {
        margin-left: 87.23404255319149%;
        *margin-left: 87.12765957446807%;
    }

        .row-fluid .offset10:first-child
        {
            margin-left: 85.1063829787234%;
            *margin-left: 84.99999999999999%;
        }

    .row-fluid .offset9
    {
        margin-left: 78.72340425531914%;
        *margin-left: 78.61702127659572%;
    }

        .row-fluid .offset9:first-child
        {
            margin-left: 76.59574468085106%;
            *margin-left: 76.48936170212764%;
        }

    .row-fluid .offset8
    {
        margin-left: 70.2127659574468%;
        *margin-left: 70.10638297872339%;
    }

        .row-fluid .offset8:first-child
        {
            margin-left: 68.08510638297872%;
            *margin-left: 67.9787234042553%;
        }

    .row-fluid .offset7
    {
        margin-left: 61.70212765957446%;
        *margin-left: 61.59574468085106%;
    }

        .row-fluid .offset7:first-child
        {
            margin-left: 59.574468085106375%;
            *margin-left: 59.46808510638297%;
        }

    .row-fluid .offset6
    {
        margin-left: 53.191489361702125%;
        *margin-left: 53.085106382978715%;
    }

        .row-fluid .offset6:first-child
        {
            margin-left: 51.063829787234035%;
            *margin-left: 50.95744680851063%;
        }

    .row-fluid .offset5
    {
        margin-left: 44.68085106382979%;
        *margin-left: 44.57446808510638%;
    }

        .row-fluid .offset5:first-child
        {
            margin-left: 42.5531914893617%;
            *margin-left: 42.4468085106383%;
        }

    .row-fluid .offset4
    {
        margin-left: 36.170212765957444%;
        *margin-left: 36.06382978723405%;
    }

        .row-fluid .offset4:first-child
        {
            margin-left: 34.04255319148936%;
            *margin-left: 33.93617021276596%;
        }

    .row-fluid .offset3
    {
        margin-left: 27.659574468085104%;
        *margin-left: 27.5531914893617%;
    }

        .row-fluid .offset3:first-child
        {
            margin-left: 25.53191489361702%;
            *margin-left: 25.425531914893618%;
        }

    .row-fluid .offset2
    {
        margin-left: 19.148936170212764%;
        *margin-left: 19.04255319148936%;
    }

        .row-fluid .offset2:first-child
        {
            margin-left: 17.02127659574468%;
            *margin-left: 16.914893617021278%;
        }

    .row-fluid .offset1
    {
        margin-left: 10.638297872340425%;
        *margin-left: 10.53191489361702%;
    }

        .row-fluid .offset1:first-child
        {
            margin-left: 8.51063829787234%;
            *margin-left: 8.404255319148938%;
        }

    [class^="span"].hide,
    .row-fluid [class^="span"].hide
    {
        display: none;
    }

    [class^="span"].pull-right,
    .row-fluid [class^="span"].pull-right
    {
        float: right;
    }

.container
{
    margin-right: auto;
    margin-left: auto;
    *zoom: 1;
}

    .container:before,
    .container:after
    {
        display: table;
        content: "";
        line-height: 0;
    }

    .container:after
    {
        clear: both;
    }

.container-fluid
{
    padding-right: 20px;
    padding-left: 20px;
    *zoom: 1;
}

    .container-fluid:before,
    .container-fluid:after
    {
        display: table;
        content: "";
        line-height: 0;
    }

    .container-fluid:after
    {
        clear: both;
    }

p
{
    margin: 0 0 10px;
}

.lead
{
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 200;
    line-height: 30px;
}

small
{
    font-size: 85%;
}

strong
{
    font-weight: bold;
}

em
{
    font-style: italic;
}

cite
{
    font-style: normal;
}

.muted
{
    color: #999999;
}

a.muted:hover,
a.muted:focus
{
    color: #808080;
}

.text-warning
{
    color: #c09853;
}

a.text-warning:hover,
a.text-warning:focus
{
    color: #a47e3c;
}

.text-error
{
    color: #b94a48;
}

a.text-error:hover,
a.text-error:focus
{
    color: #953b39;
}

.text-info
{
    color: #3a87ad;
}

a.text-info:hover,
a.text-info:focus
{
    color: #2d6987;
}

.text-success
{
    color: #468847;
}

a.text-success:hover,
a.text-success:focus
{
    color: #356635;
}

.text-left
{
    text-align: left;
}

.text-right
{
    text-align: right;
}

.text-center
{
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}

    h1 small,
    h2 small,
    h3 small,
    h4 small,
    h5 small,
    h6 small
    {
        font-weight: normal;
        line-height: 1;
        color: #999999;
    }

h1,
h2,
h3
{
    line-height: 40px;
}

h1
{
    font-size: 38.5px;
}

h2
{
    font-size: 31.5px;
}

h3
{
    font-size: 24.5px;
}

h4
{
    font-size: 17.5px;
}

h5
{
    font-size: 14px;
}

h6
{
    font-size: 11.9px;
}

h1 small
{
    font-size: 24.5px;
}

h2 small
{
    font-size: 17.5px;
}

h3 small
{
    font-size: 14px;
}

h4 small
{
    font-size: 14px;
}

.page-header
{
    padding-bottom: 9px;
    margin: 20px 0 30px;
    border-bottom: 1px solid #eeeeee;
}

ul,
ol
{
    padding: 0;
    margin: 0 0 10px 25px;
}

    ul ul,
    ul ol,
    ol ol,
    ol ul
    {
        margin-bottom: 0;
    }

li
{
    line-height: 20px;
}

ul.unstyled,
ol.unstyled
{
    margin-left: 0;
    list-style: none;
}

ul.inline,
ol.inline
{
    margin-left: 0;
    list-style: none;
}

    ul.inline > li,
    ol.inline > li
    {
        display: inline-block;
        *display: inline;
        /* IE7 inline-block hack */
        *zoom: 1;
        padding-left: 5px;
        padding-right: 5px;
    }

dl
{
    margin-bottom: 20px;
}

dt,
dd
{
    line-height: 20px;
}

dt
{
    font-weight: bold;
}

dd
{
    margin-left: 10px;
}

.dl-horizontal
{
    *zoom: 1;
}

    .dl-horizontal:before,
    .dl-horizontal:after
    {
        display: table;
        content: "";
        line-height: 0;
    }

    .dl-horizontal:after
    {
        clear: both;
    }

    .dl-horizontal dt
    {
        float: left;
        width: 160px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .dl-horizontal dd
    {
        margin-left: 180px;
    }

hr
{
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #ffffff;
}

abbr[title],
abbr[data-original-title]
{
    cursor: help;
    border-bottom: 1px dotted #999999;
}

abbr.initialism
{
    font-size: 90%;
    text-transform: uppercase;
}

blockquote
{
    padding: 0 0 0 15px;
    margin: 0 0 20px;
    border-left: 5px solid #eeeeee;
}

    blockquote p
    {
        margin-bottom: 0;
        font-size: 17.5px;
        font-weight: 300;
        line-height: 1.25;
    }

    blockquote small
    {
        display: block;
        line-height: 20px;
        color: #999999;
    }

        blockquote small:before
        {
            content: '\2014 \00A0';
        }

    blockquote.pull-right
    {
        float: right;
        padding-right: 15px;
        padding-left: 0;
        border-right: 5px solid #eeeeee;
        border-left: 0;
    }

        blockquote.pull-right p,
        blockquote.pull-right small
        {
            text-align: right;
        }

            blockquote.pull-right small:before
            {
                content: '';
            }

            blockquote.pull-right small:after
            {
                content: '\00A0 \2014';
            }

    q:before,
    q:after,
    blockquote:before,
    blockquote:after
    {
        content: "";
    }

address
{
    display: block;
    margin-bottom: 20px;
    font-style: normal;
    line-height: 20px;
}

code
{
    padding: 0 3px 2px;
    font-family: Segoe UI;
    font-size: 12px;
    color: #333333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

code
{
    padding: 2px 4px;
    color: #d14;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    white-space: nowrap;
}

pre.prettyprint
{
    margin-bottom: 20px;
}

pre code
{
    padding: 0;
    color: inherit;
    white-space: pre;
    white-space: pre-wrap;
    background-color: transparent;
    border: 0;
}

.pre-scrollable
{
    max-height: 340px;
    overflow-y: scroll;
}

.label,
.badge
{
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #999999;
}

.label
{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.badge
{
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

    .label:empty,
    .badge:empty
    {
        display: none;
    }

a.label:hover,
a.label:focus,
a.badge:hover,
a.badge:focus
{
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.label-important,
.badge-important
{
    background-color: #b94a48;
}

    .label-important[href],
    .badge-important[href]
    {
        background-color: #953b39;
    }

.label-warning,
.badge-warning
{
    background-color: #f89406;
}

    .label-warning[href],
    .badge-warning[href]
    {
        background-color: #c67605;
    }

.label-success,
.badge-success
{
    background-color: #468847;
}

    .label-success[href],
    .badge-success[href]
    {
        background-color: #356635;
    }

.label-info,
.badge-info
{
    background-color: #3a87ad;
}

    .label-info[href],
    .badge-info[href]
    {
        background-color: #2d6987;
    }

.label-inverse,
.badge-inverse
{
    background-color: #333333;
}

    .label-inverse[href],
    .badge-inverse[href]
    {
        background-color: #1a1a1a;
    }

.btn .label,
.btn .badge
{
    position: relative;
    top: -1px;
}

.btn-mini .label,
.btn-mini .badge
{
    top: 0;
}

.btn-group
{
    position: relative;
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
    font-size: 0;
    vertical-align: middle;
    white-space: nowrap;
    *margin-left: .3em;
}

    .btn-group:first-child
    {
        *margin-left: 0;
    }

    .btn-group + .btn-group
    {
        margin-left: 5px;
    }

.btn-toolbar
{
    font-size: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .btn-toolbar > .btn + .btn,
    .btn-toolbar > .btn-group + .btn,
    .btn-toolbar > .btn + .btn-group
    {
        margin-left: 5px;
    }

.btn-group > .btn
{
    position: relative;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

    .btn-group > .btn + .btn
    {
        margin-left: -1px;
    }

.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover
{
    font-size: 14px;
}

.btn-group > .btn-mini
{
    font-size: 10.5px;
}

.btn-group > .btn-small
{
    font-size: 11.9px;
}

.btn-group > .btn-large
{
    font-size: 17.5px;
}

.btn-group > .btn:first-child
{
    margin-left: 0;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}

.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle
{
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}

.btn-group > .btn.large:first-child
{
    margin-left: 0;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
}

.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle
{
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
}

.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active
{
    z-index: 2;
}

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle
{
    outline: 0;
}

.btn-group > .btn + .dropdown-toggle
{
    padding-left: 8px;
    padding-right: 8px;
    -webkit-box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    *padding-top: 5px;
    *padding-bottom: 5px;
}

.btn-group > .btn-mini + .dropdown-toggle
{
    padding-left: 5px;
    padding-right: 5px;
    *padding-top: 2px;
    *padding-bottom: 2px;
}

.btn-group > .btn-small + .dropdown-toggle
{
    *padding-top: 5px;
    *padding-bottom: 4px;
}

.btn-group > .btn-large + .dropdown-toggle
{
    padding-left: 12px;
    padding-right: 12px;
    *padding-top: 7px;
    *padding-bottom: 7px;
}

.btn-group.open .dropdown-toggle
{
    background-image: none;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}

.btn-group.open .btn.dropdown-toggle
{
    background-color: #e6e6e6;
}

.btn-group.open .btn-primary.dropdown-toggle
{
    background-color: #5b5b5b;
}

.btn-group.open .btn-warning.dropdown-toggle
{
    background-color: #f89406;
}

.btn-group.open .btn-danger.dropdown-toggle
{
    background-color: #bd362f;
}

.btn-group.open .btn-success.dropdown-toggle
{
    background-color: #51a351;
}

.btn-group.open .btn-info.dropdown-toggle
{
    background-color: #2f96b4;
}

.btn-group.open .btn-inverse.dropdown-toggle
{
    background-color: #222222;
}

.btn .caret
{
    margin-top: 8px;
    margin-left: 0;
}

.btn-large .caret
{
    margin-top: 6px;
}

.btn-large .caret
{
    border-left-width: 5px;
    border-right-width: 5px;
    border-top-width: 5px;
}

.btn-mini .caret,
.btn-small .caret
{
    margin-top: 8px;
}

.dropup .btn-large .caret
{
    border-bottom-width: 5px;
}

.btn-primary .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret,
.btn-inverse .caret
{
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.btn-group-vertical
{
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
}

    .btn-group-vertical > .btn
    {
        display: block;
        float: none;
        max-width: 100%;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

        .btn-group-vertical > .btn + .btn
        {
            margin-left: 0;
            margin-top: -1px;
        }

        .btn-group-vertical > .btn:first-child
        {
            -webkit-border-radius: 4px 4px 0 0;
            -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
        }

        .btn-group-vertical > .btn:last-child
        {
            -webkit-border-radius: 0 0 4px 4px;
            -moz-border-radius: 0 0 4px 4px;
            border-radius: 0 0 4px 4px;
        }

    .btn-group-vertical > .btn-large:first-child
    {
        -webkit-border-radius: 6px 6px 0 0;
        -moz-border-radius: 6px 6px 0 0;
        border-radius: 6px 6px 0 0;
    }

    .btn-group-vertical > .btn-large:last-child
    {
        -webkit-border-radius: 0 0 6px 6px;
        -moz-border-radius: 0 0 6px 6px;
        border-radius: 0 0 6px 6px;
    }

.nav
{
    margin-left: 0;
    margin-bottom: 20px;
    list-style: none;
}

    .nav > li > a
    {
        display: block;
    }

        .nav > li > a:hover,
        .nav > li > a:focus
        {
            text-decoration: none;
            background-color: #eeeeee;
        }

        .nav > li > a > img
        {
            max-width: none;
        }

    .nav > .pull-right
    {
        float: right;
    }

.nav-header
{
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.nav li + .nav-header
{
    margin-top: 9px;
}

.nav-list
{
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
}

    .nav-list > li > a,
    .nav-list .nav-header
    {
        margin-left: -15px;
        margin-right: -15px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    }

    .nav-list > li > a
    {
        padding: 3px 15px;
    }

    .nav-list > .active > a,
    .nav-list > .active > a:hover,
    .nav-list > .active > a:focus
    {
        color: #ffffff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
        background-color: #5b5b5b;
    }

    .nav-list [class^="icon-"],
    .nav-list [class*=" icon-"]
    {
        margin-right: 2px;
    }

    .nav-list .divider
    {
        *width: 100%;
        height: 1px;
        margin: 9px 1px;
        *margin: -5px 0 5px;
        overflow: hidden;
        background-color: #e5e5e5;
        border-bottom: 1px solid #ffffff;
    }

.nav-tabs,
.nav-pills
{
    *zoom: 1;
}

    .nav-tabs:before,
    .nav-pills:before,
    .nav-tabs:after,
    .nav-pills:after
    {
        display: table;
        content: "";
        line-height: 0;
    }

    .nav-tabs:after,
    .nav-pills:after
    {
        clear: both;
    }

    .nav-tabs > li,
    .nav-pills > li
    {
        float: left;
    }

        .nav-tabs > li > a,
        .nav-pills > li > a
        {
            padding-right: 12px;
            padding-left: 12px;
            margin-right: 2px;
            line-height: 14px;
        }

.nav-tabs
{
    border-bottom: 1px solid #ddd;
}

    .nav-tabs > li
    {
        margin-bottom: -1px;
    }

        .nav-tabs > li > a
        {
            padding-top: 8px;
            padding-bottom: 8px;
            line-height: 20px;
            border: 1px solid transparent;
            -webkit-border-radius: 4px 4px 0 0;
            -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
        }

            .nav-tabs > li > a:hover,
            .nav-tabs > li > a:focus
            {
                border-color: #eeeeee #eeeeee #dddddd;
            }

    .nav-tabs > .active > a,
    .nav-tabs > .active > a:hover,
    .nav-tabs > .active > a:focus
    {
        color: #555555;
        background-color: #2d2e2d;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
        cursor: default;
    }

.nav-pills > li > a
{
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus
{
    color: #ffffff;
    background-color: #5b5b5b;
}

.nav-stacked > li
{
    float: none;
}

    .nav-stacked > li > a
    {
        margin-right: 0;
    }

.nav-tabs.nav-stacked
{
    border-bottom: 0;
}

    .nav-tabs.nav-stacked > li > a
    {
        border: 1px solid #ddd;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .nav-tabs.nav-stacked > li:first-child > a
    {
        -webkit-border-top-right-radius: 4px;
        -moz-border-radius-topright: 4px;
        border-top-right-radius: 4px;
        -webkit-border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
        border-top-left-radius: 4px;
    }

    .nav-tabs.nav-stacked > li:last-child > a
    {
        -webkit-border-bottom-right-radius: 4px;
        -moz-border-radius-bottomright: 4px;
        border-bottom-right-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        -moz-border-radius-bottomleft: 4px;
        border-bottom-left-radius: 4px;
    }

    .nav-tabs.nav-stacked > li > a:hover,
    .nav-tabs.nav-stacked > li > a:focus
    {
        border-color: #ddd;
        z-index: 2;
    }

.nav-pills.nav-stacked > li > a
{
    margin-bottom: 3px;
}

.nav-pills.nav-stacked > li:last-child > a
{
    margin-bottom: 1px;
}

.nav-tabs .dropdown-menu
{
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.nav-pills .dropdown-menu
{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.nav .dropdown-toggle .caret
{
    border-top-color: #5b5b5b;
    border-bottom-color: #5b5b5b;
    margin-top: 6px;
}

.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret
{
    border-top-color: #5b5b5b;
    border-bottom-color: #5b5b5b;
}
/* move down carets for tabs */
.nav-tabs .dropdown-toggle .caret
{
    margin-top: 8px;
}

.nav .active .dropdown-toggle .caret
{
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.nav-tabs .active .dropdown-toggle .caret
{
    border-top-color: #555555;
    border-bottom-color: #555555;
}

.nav > .dropdown.active > a:hover,
.nav > .dropdown.active > a:focus
{
    cursor: pointer;
}

.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover,
.nav > li.dropdown.open.active > a:focus
{
    color: #ffffff;
    background-color: #999999;
    border-color: #999999;
}

.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret,
.nav li.dropdown.open a:focus .caret
{
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
    opacity: 1;
    filter: alpha(opacity=100);
}

.tabs-stacked .open > a:hover,
.tabs-stacked .open > a:focus
{
    border-color: #999999;
}

.tabbable
{
    *zoom: 1;
}

    .tabbable:before,
    .tabbable:after
    {
        display: table;
        content: "";
        line-height: 0;
    }

    .tabbable:after
    {
        clear: both;
    }

.tab-content
{
    overflow: auto;
}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs
{
    border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane
{
    display: none;
}

.tab-content > .active,
.pill-content > .active
{
    display: block;
}

.tabs-below > .nav-tabs
{
    border-top: 1px solid #ddd;
}

    .tabs-below > .nav-tabs > li
    {
        margin-top: -1px;
        margin-bottom: 0;
    }

        .tabs-below > .nav-tabs > li > a
        {
            -webkit-border-radius: 0 0 4px 4px;
            -moz-border-radius: 0 0 4px 4px;
            border-radius: 0 0 4px 4px;
        }

            .tabs-below > .nav-tabs > li > a:hover,
            .tabs-below > .nav-tabs > li > a:focus
            {
                border-bottom-color: transparent;
                border-top-color: #ddd;
            }

    .tabs-below > .nav-tabs > .active > a,
    .tabs-below > .nav-tabs > .active > a:hover,
    .tabs-below > .nav-tabs > .active > a:focus
    {
        border-color: transparent #ddd #ddd #ddd;
    }

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li
{
    float: none;
}

    .tabs-left > .nav-tabs > li > a,
    .tabs-right > .nav-tabs > li > a
    {
        min-width: 74px;
        margin-right: 0;
        margin-bottom: 3px;
    }

.tabs-left > .nav-tabs
{
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

    .tabs-left > .nav-tabs > li > a
    {
        margin-right: -1px;
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
    }

        .tabs-left > .nav-tabs > li > a:hover,
        .tabs-left > .nav-tabs > li > a:focus
        {
            border-color: #eeeeee #dddddd #eeeeee #eeeeee;
        }

    .tabs-left > .nav-tabs .active > a,
    .tabs-left > .nav-tabs .active > a:hover,
    .tabs-left > .nav-tabs .active > a:focus
    {
        border-color: #ddd transparent #ddd #ddd;
        *border-right-color: #ffffff;
    }

.tabs-right > .nav-tabs
{
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;
}

    .tabs-right > .nav-tabs > li > a
    {
        margin-left: -1px;
        -webkit-border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;
    }

        .tabs-right > .nav-tabs > li > a:hover,
        .tabs-right > .nav-tabs > li > a:focus
        {
            border-color: #eeeeee #eeeeee #eeeeee #dddddd;
        }

    .tabs-right > .nav-tabs .active > a,
    .tabs-right > .nav-tabs .active > a:hover,
    .tabs-right > .nav-tabs .active > a:focus
    {
        border-color: #ddd #ddd #ddd transparent;
        *border-left-color: #ffffff;
    }

.nav > .disabled > a
{
    color: #999999;
}

    .nav > .disabled > a:hover,
    .nav > .disabled > a:focus
    {
        text-decoration: none;
        background-color: transparent;
        cursor: default;
    }

.navbar
{
    overflow: visible;
    margin-bottom: 20px;
    *position: relative;
    *z-index: 2;
}

.navbar-inner
{
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    *zoom: 1;
}

    .navbar-inner:before,
    .navbar-inner:after
    {
        display: table;
        content: "";
        line-height: 0;
    }

    .navbar-inner:after
    {
        clear: both;
    }

.navbar .container
{
    width: auto;
}

.nav-collapse.collapse
{
    height: auto;
    overflow: visible;
}

.navbar .brand
{
    float: left;
    display: block;
    padding: 10px 20px 10px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    color: #777777;
    text-shadow: 0 1px 0 #ffffff;
}

    .navbar .brand:hover,
    .navbar .brand:focus
    {
        text-decoration: none;
    }

.navbar-text
{
    margin-bottom: 0;
    line-height: 40px;
    color: #777777;
}

.navbar-link
{
    color: #777777;
}

    .navbar-link:hover,
    .navbar-link:focus
    {
        color: #333333;
    }

.navbar .divider-vertical
{
    height: 40px;
    margin: 0 9px;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #ffffff;
}

.navbar .btn,
.navbar .btn-group
{
    margin-top: 5px;
}

    .navbar .btn-group .btn,
    .navbar .input-prepend .btn,
    .navbar .input-append .btn,
    .navbar .input-prepend .btn-group,
    .navbar .input-append .btn-group
    {
        margin-top: 0;
    }

.navbar-form
{
    margin-bottom: 0;
    *zoom: 1;
}

    .navbar-form:before,
    .navbar-form:after
    {
        display: table;
        content: "";
        line-height: 0;
    }

    .navbar-form:after
    {
        clear: both;
    }

    .navbar-form input,
    .navbar-form select,
    .navbar-form .radio,
    .navbar-form .checkbox
    {
        margin-top: 5px;
    }

    .navbar-form input,
    .navbar-form select,
    .navbar-form .btn
    {
        display: inline-block;
        margin-bottom: 0;
    }

        .navbar-form input[type="image"],
        .navbar-form input[type="checkbox"],
        .navbar-form input[type="radio"]
        {
            margin-top: 3px;
        }

    .navbar-form .input-append,
    .navbar-form .input-prepend
    {
        margin-top: 5px;
        white-space: nowrap;
    }

        .navbar-form .input-append input,
        .navbar-form .input-prepend input
        {
            margin-top: 0;
        }

.navbar-search
{
    position: relative;
    float: left;
    margin-top: 5px;
    margin-bottom: 0;
}

    .navbar-search .search-query
    {
        margin-bottom: 0;
        padding: 4px 14px;
        font-family: Segoe UI;
        font-size: 13px;
        font-weight: normal;
        line-height: 1;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }

.navbar-static-top
{
    position: static;
    margin-bottom: 0;
}

    .navbar-static-top .navbar-inner
    {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

.navbar-fixed-top,
.navbar-fixed-bottom
{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
}

    .navbar-fixed-top .navbar-inner,
    .navbar-static-top .navbar-inner
    {
        border-width: 0 0 1px;
    }

    .navbar-fixed-bottom .navbar-inner
    {
        border-width: 1px 0 0;
    }

    .navbar-fixed-top .navbar-inner,
    .navbar-fixed-bottom .navbar-inner
    {
        padding-left: 0;
        padding-right: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container
    {
        width: 940px;
    }

.navbar-fixed-top
{
    top: 0;
}

    .navbar-fixed-top .navbar-inner,
    .navbar-static-top .navbar-inner
    {
        -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
        -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
        box-shadow: 0 1px 10px rgba(0,0,0,.1);
    }

.navbar-fixed-bottom
{
    bottom: 0;
}

    .navbar-fixed-bottom .navbar-inner
    {
        -webkit-box-shadow: 0 -1px 10px rgba(0,0,0,.1);
        -moz-box-shadow: 0 -1px 10px rgba(0,0,0,.1);
        box-shadow: 0 -1px 10px rgba(0,0,0,.1);
    }

.navbar .nav
{
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0;
}

    .navbar .nav.pull-right
    {
        float: right;
        margin-right: 0;
    }

    .navbar .nav > li
    {
        float: left;
    }

        .navbar .nav > li > a
        {
            float: none;
            padding: 10px 15px 10px;
            color: #777777;
            text-decoration: none;
            text-shadow: 0 1px 0 #ffffff;
        }

    .navbar .nav .dropdown-toggle .caret
    {
        margin-top: 8px;
    }

    .navbar .nav > li > a:focus,
    .navbar .nav > li > a:hover
    {
        background-color: transparent;
        color: #333333;
        text-decoration: none;
    }

    .navbar .nav > .active > a,
    .navbar .nav > .active > a:hover,
    .navbar .nav > .active > a:focus
    {
        color: #555555;
        text-decoration: none;
        background-color: #e5e5e5;
        -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
        -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
        box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    }

.navbar .btn-navbar
{
    display: none;
    float: right;
    padding: 7px 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #ededed;
    background-image: -moz-linear-gradient(top, #f2f2f2, #e5e5e5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, #f2f2f2, #e5e5e5);
    background-image: -o-linear-gradient(top, #f2f2f2, #e5e5e5);
    background-image: linear-gradient(to bottom, #f2f2f2, #e5e5e5);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffe5e5e5', GradientType=0);
    border-color: #e5e5e5 #e5e5e5 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #e5e5e5;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
}

    .navbar .btn-navbar:hover,
    .navbar .btn-navbar:focus,
    .navbar .btn-navbar:active,
    .navbar .btn-navbar.active,
    .navbar .btn-navbar.disabled,
    .navbar .btn-navbar[disabled]
    {
        color: #ffffff;
        background-color: #e5e5e5;
        *background-color: #d9d9d9;
    }

    .navbar .btn-navbar:active,
    .navbar .btn-navbar.active
    {
        background-color: #cccccc \9;
    }

    .navbar .btn-navbar .icon-bar
    {
        display: block;
        width: 18px;
        height: 2px;
        background-color: #f5f5f5;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        border-radius: 1px;
        -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    }

.btn-navbar .icon-bar + .icon-bar
{
    margin-top: 3px;
}

.navbar .nav > li > .dropdown-menu:before
{
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    left: 9px;
}

.navbar .nav > li > .dropdown-menu:after
{
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    position: absolute;
    top: -6px;
    left: 10px;
}

.navbar-fixed-bottom .nav > li > .dropdown-menu:before
{
    border-top: 7px solid #ccc;
    border-top-color: rgba(0, 0, 0, 0.2);
    border-bottom: 0;
    bottom: -7px;
    top: auto;
}

.navbar-fixed-bottom .nav > li > .dropdown-menu:after
{
    border-top: 6px solid #ffffff;
    border-bottom: 0;
    bottom: -6px;
    top: auto;
}

.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown > a:focus .caret
{
    border-top-color: #333333;
    border-bottom-color: #333333;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle
{
    background-color: #e5e5e5;
    color: #555555;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret
{
    border-top-color: #777777;
    border-bottom-color: #777777;
}

.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret
{
    border-top-color: #555555;
    border-bottom-color: #555555;
}

.navbar .pull-right > li > .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right
{
    left: auto;
    right: 0;
}

    .navbar .pull-right > li > .dropdown-menu:before,
    .navbar .nav > li > .dropdown-menu.pull-right:before
    {
        left: auto;
        right: 12px;
    }

    .navbar .pull-right > li > .dropdown-menu:after,
    .navbar .nav > li > .dropdown-menu.pull-right:after
    {
        left: auto;
        right: 13px;
    }

    .navbar .pull-right > li > .dropdown-menu .dropdown-menu,
    .navbar .nav > li > .dropdown-menu.pull-right .dropdown-menu
    {
        left: auto;
        right: 100%;
        margin-left: 0;
        margin-right: -1px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }

.navbar-inverse .navbar-inner
{
    background-color: #1b1b1b;
    background-image: -moz-linear-gradient(top, #222222, #111111);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
    background-image: -webkit-linear-gradient(top, #222222, #111111);
    background-image: -o-linear-gradient(top, #222222, #111111);
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
    border-color: #252525;
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a
{
    color: #999999;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

    .navbar-inverse .brand:hover,
    .navbar-inverse .nav > li > a:hover,
    .navbar-inverse .brand:focus,
    .navbar-inverse .nav > li > a:focus
    {
        color: #ffffff;
    }

.navbar-inverse .brand
{
    color: #999999;
}

.navbar-inverse .navbar-text
{
    color: #999999;
}

.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover
{
    background-color: transparent;
    color: #ffffff;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus
{
    color: #ffffff;
    background-color: #111111;
}

.navbar-inverse .navbar-link
{
    color: #999999;
}

    .navbar-inverse .navbar-link:hover,
    .navbar-inverse .navbar-link:focus
    {
        color: #ffffff;
    }

.navbar-inverse .divider-vertical
{
    border-left-color: #111111;
    border-right-color: #222222;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle
{
    background-color: #111111;
    color: #ffffff;
}

.navbar-inverse .nav li.dropdown > a:hover .caret,
.navbar-inverse .nav li.dropdown > a:focus .caret
{
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret
{
    border-top-color: #999999;
    border-bottom-color: #999999;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret
{
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.navbar-inverse .navbar-search .search-query
{
    color: #ffffff;
    background-color: #515151;
    border-color: #111111;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

    .navbar-inverse .navbar-search .search-query:-moz-placeholder
    {
        color: #cccccc;
    }

    .navbar-inverse .navbar-search .search-query:-ms-input-placeholder
    {
        color: #cccccc;
    }

    .navbar-inverse .navbar-search .search-query::-webkit-input-placeholder
    {
        color: #cccccc;
    }

    .navbar-inverse .navbar-search .search-query:focus,
    .navbar-inverse .navbar-search .search-query.focused
    {
        padding: 5px 15px;
        color: #333333;
        text-shadow: 0 1px 0 #ffffff;
        background-color: #ffffff;
        border: 0;
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
        outline: 0;
    }

.navbar-inverse .btn-navbar
{
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #0e0e0e;
    background-image: -moz-linear-gradient(top, #151515, #040404);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#151515), to(#040404));
    background-image: -webkit-linear-gradient(top, #151515, #040404);
    background-image: -o-linear-gradient(top, #151515, #040404);
    background-image: linear-gradient(to bottom, #151515, #040404);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff151515', endColorstr='#ff040404', GradientType=0);
    border-color: #040404 #040404 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #040404;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

    .navbar-inverse .btn-navbar:hover,
    .navbar-inverse .btn-navbar:focus,
    .navbar-inverse .btn-navbar:active,
    .navbar-inverse .btn-navbar.active,
    .navbar-inverse .btn-navbar.disabled,
    .navbar-inverse .btn-navbar[disabled]
    {
        color: #ffffff;
        background-color: #040404;
        *background-color: #000000;
    }

    .navbar-inverse .btn-navbar:active,
    .navbar-inverse .btn-navbar.active
    {
        background-color: #000000 \9;
    }

.breadcrumb
{
    padding: 8px 15px;
    margin: 0 0 20px;
    list-style: none;
    background-color: #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

    .breadcrumb > li
    {
        display: inline-block;
        *display: inline;
        /* IE7 inline-block hack */
        *zoom: 1;
        text-shadow: 0 1px 0 #ffffff;
    }

        .breadcrumb > li > .divider
        {
            padding: 0 5px;
            color: #ccc;
        }

    .breadcrumb > .active
    {
        color: #999999;
    }

.thumbnails
{
    margin-left: -20px;
    list-style: none;
    *zoom: 1;
}

    .thumbnails:before,
    .thumbnails:after
    {
        display: table;
        content: "";
        line-height: 0;
    }

    .thumbnails:after
    {
        clear: both;
    }

.row-fluid .thumbnails
{
    margin-left: 0;
}

.thumbnails > li
{
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
}

.thumbnail
{
    display: block;
    padding: 4px;
    line-height: 20px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a.thumbnail:hover,
a.thumbnail:focus
{
    border-color: #5b5b5b;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.thumbnail > img
{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.thumbnail .caption
{
    padding: 9px;
    color: #555555;
}

.alert
{
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

    .alert,
    .alert h4
    {
        color: #c09853;
    }

        .alert h4
        {
            margin: 0;
        }

        .alert .close
        {
            position: relative;
            top: -2px;
            right: -21px;
            line-height: 20px;
        }

.alert-success
{
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}

    .alert-success h4
    {
        color: #468847;
    }

.alert-danger,
.alert-error
{
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}

    .alert-danger h4,
    .alert-error h4
    {
        color: #b94a48;
    }

.alert-info
{
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
}

    .alert-info h4
    {
        color: #3a87ad;
    }

.alert-block
{
    padding-top: 14px;
    padding-bottom: 14px;
}

    .alert-block > p,
    .alert-block > ul
    {
        margin-bottom: 0;
    }

    .alert-block p + p
    {
        margin-top: 5px;
    }

@-webkit-keyframes progress-bar-stripes
{
    from
    {
        background-position: 40px 0;
    }

    to
    {
        background-position: 0 0;
    }
}

@-moz-keyframes progress-bar-stripes
{
    from
    {
        background-position: 40px 0;
    }

    to
    {
        background-position: 0 0;
    }
}

@-ms-keyframes progress-bar-stripes
{
    from
    {
        background-position: 40px 0;
    }

    to
    {
        background-position: 0 0;
    }
}

@-o-keyframes progress-bar-stripes
{
    from;
    {
        background-position: 0 0;
    }

    to
    {
        background-position: 40px 0;
    }
}

@keyframes progress-bar-stripes
{
    from
    {
        background-position: 40px 0;
    }

    to
    {
        background-position: 0 0;
    }
}

.progress
{
    overflow: hidden;
    height: 20px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

    .progress .bar
    {
        width: 0%;
        height: 100%;
        color: #ffffff;
        float: left;
        font-size: 12px;
        text-align: center;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-color: #0e90d2;
        background-image: -moz-linear-gradient(top, #149bdf, #0480be);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
        background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
        background-image: -o-linear-gradient(top, #149bdf, #0480be);
        background-image: linear-gradient(to bottom, #149bdf, #0480be);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
        -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: width 0.6s ease;
        -moz-transition: width 0.6s ease;
        -o-transition: width 0.6s ease;
        transition: width 0.6s ease;
    }

        .progress .bar + .bar
        {
            -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15);
            -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15);
            box-shadow: inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15);
        }

.progress-striped .bar
{
    background-color: #149bdf;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    -o-background-size: 40px 40px;
    background-size: 40px 40px;
}

.progress.active .bar
{
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -ms-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.progress-danger .bar,
.progress .bar-danger
{
    background-color: #dd514c;
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffc43c35', GradientType=0);
}

.progress-danger.progress-striped .bar,
.progress-striped .bar-danger
{
    background-color: #ee5f5b;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-success .bar,
.progress .bar-success
{
    background-color: #5eb95e;
    background-image: -moz-linear-gradient(top, #62c462, #57a957);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
    background-image: -webkit-linear-gradient(top, #62c462, #57a957);
    background-image: -o-linear-gradient(top, #62c462, #57a957);
    background-image: linear-gradient(to bottom, #62c462, #57a957);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff57a957', GradientType=0);
}

.progress-success.progress-striped .bar,
.progress-striped .bar-success
{
    background-color: #62c462;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-info .bar,
.progress .bar-info
{
    background-color: #4bb1cf;
    background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#339bb9));
    background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
    background-image: linear-gradient(to bottom, #5bc0de, #339bb9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff339bb9', GradientType=0);
}

.progress-info.progress-striped .bar,
.progress-striped .bar-info
{
    background-color: #5bc0de;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-warning .bar,
.progress .bar-warning
{
    background-color: #faa732;
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
}

.progress-warning.progress-striped .bar,
.progress-striped .bar-warning
{
    background-color: #fbb450;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.hero-unit
{
    padding: 60px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    color: inherit;
    background-color: #eeeeee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

    .hero-unit h1
    {
        margin-bottom: 0;
        font-size: 60px;
        line-height: 1;
        color: inherit;
        letter-spacing: -1px;
    }

    .hero-unit li
    {
        line-height: 30px;
    }

.media,
.media-body
{
    overflow: hidden;
    *overflow: visible;
    zoom: 1;
}

    .media,
    .media .media
    {
        margin-top: 15px;
    }

        .media:first-child
        {
            margin-top: 0;
        }

.media-object
{
    display: block;
}

.media-heading
{
    margin: 0 0 5px;
}

.media > .pull-left
{
    margin-right: 10px;
}

.media > .pull-right
{
    margin-left: 10px;
}

.media-list
{
    margin-left: 0;
    list-style: none;
}

.well
{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

    .well blockquote
    {
        border-color: #ddd;
        border-color: rgba(0, 0, 0, 0.15);
    }

.well-large
{
    padding: 24px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.well-small
{
    padding: 9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.close
{
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

    .close:hover,
    .close:focus
    {
        color: #000000;
        text-decoration: none;
        cursor: pointer;
        opacity: 0.4;
        filter: alpha(opacity=40);
    }

button.close
{
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.pull-right
{
    float: right;
}

.pull-left
{
    float: left;
}

.hide
{
    display: none;
}

.show
{
    display: block;
}

.invisible
{
    visibility: hidden;
}

.affix
{
    position: fixed;
}

.fade
{
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

    .fade.in
    {
        opacity: 1;
    }

.collapse
{
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -moz-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
}

    .collapse.in
    {
        height: auto;
    }

@-ms-viewport
{
    width: device-width;
}

.hidden
{
    display: none;
    visibility: hidden;
}

.e-btn.e-txt
{
    padding: 0.1em 0.0em 0.3em;
}


#DiagramArea
{
    border: 1px dashed #D3D3D3;
    border-left: none;
}

#backIcon
{
    background-image: url("images/Backicon1.png");
    background-position: -2px -1px;
    background-repeat: no-repeat;
    float: right;
    height: 20px;
    margin-left: 7px;
    margin-right: 44px;
    margin-top: -54px;
    width: 20px;
}

    #backIcon:hover
    {
        background-color: #E6E6E6;
    }

.e-slider-wrap.e-horizontal .e-range
{
    background-color: #67C9ED;
    height: 100%;
    top: 0;
    opacity: 1;
}

.e-slider .e-handle.e-select
{
    background-color: black;
    border: 1px solid #FFFFFF;
    opacity: 0.9;
}

.AdornerLayer
{
    display: none;
}

.e-diagram-tooltip-default
{
    display: none;
}
