﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="wfrmLogout.aspx.vb" Inherits="eServices.wfrmLogout" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
    <form action="http://<%= ServNam%><%= goto_url%>" method="post" name="loginform" target="_parent">
        <input type="hidden" name="user_id" id="user_id" value="<%=session("user_web")%>" />
        <input type="hidden" name="password" id="password" value="<%=session("Pass")%>" />
        <script>
           <% Session.RemoveAll() %>
            loginform.submit();
        </script>
    </form>
</body>
</html>
